<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8" />
  <title>TSInovaApp - Login</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/static/assets/plugins/pace/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->

</head>
<body class="pace-top" style="background-color: #f3f4f5">
  <!-- begin #page-loader -->
  <div id="page-loader" class="fade show"><span class="spinner"></span></div>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container">
    <!-- begin login -->
    <div class="login">
      <!-- begin brand -->
      <div class="login-header">
        <div class="brand">
          <img src="/static/assets/img/logo.png" width="10%"></img>
          <b>TSInova</b> App
          <small>Software analítico para avaliação de dados</small>
        </div>
        <div class="icon">
          <i class="fa fa-lock"></i>
        </div>
      </div>
      <!-- end brand -->
      <!-- begin login-content -->
      <div class="login-content">

        <form method="POST" class="margin-bottom-0">

          <div class="form-group m-b-15">
            {% with errors = get_flashed_messages(category_filter=["general"]) %} {% if errors %}
            <div class="alert alert-danger fade show">
              <span class="close" data-dismiss="alert">×</span>
              {%- for msg in errors %} {{ msg }} {% endfor %}
            </div>
            {% endif %} {% endwith %}
          </div>

          <div class="form-group m-b-15">
            <input type="text" name="email" class="form-control form-control-lg" value="{{email or ""}}" autofocus placeholder="Email">
          </div>

          <div class="form-group m-b-15">
            <input type="password" name="password" class="form-control form-control-lg" placeholder="Senha">
          </div>
          <!--<div class="checkbox checkbox-css m-b-30">
            <input type="checkbox" id="remember_me_checkbox" value="">
            <label for="remember_me_checkbox">
              Lembre-me
            </label>
          </div>-->
          <div class="login-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
          </div>
          <hr style="background-color: #e8eaec">
          <p class="text-center text-grey-darker">
            © TS Inova - Todos os direitos reservados - 2018
          </p>
        </form>

      </div>
      <!-- end login-content -->
    </div>
    <!-- end login -->

  </div>
  <!-- end page container -->

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
  <script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="/static/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
  <script src="/static/assets/js/theme/default.min.js"></script>
  <script src="/static/assets/js/apps.min.js"></script>
  <!-- ================== END BASE JS ================== -->

  <script>
  $(document).ready(function() {
    App.init();
  });
  </script>
</body>
</html>
