@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?lkh14l');
  src:  url('icomoon.eot?lkh14l#iefix') format('embedded-opentype'),
    url('icomoon.ttf?lkh14l') format('truetype'),
    url('icomoon.woff?lkh14l') format('woff'),
    url('icomoon.svg?lkh14l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-switch:before {
  content: "\e904";
}
.icon-blade:before {
  content: "\e900";
}
.icon-port:before {
  content: "\e901";
}
.icon-rack:before {
  content: "\e902";
}
.icon-server:before {
  content: "\e903";
}
