<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Dados</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jquery.nestable.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="cf nestable-lists">

    <div class="dd" id="nestable">

      <ol class="dd-list">

        {% for company in server.companies %}
            <li class="dd-item" data-id="{{company.id_company}}">
              <div class="dd-handle">{{company.name}}</div>

              <ol class="dd-list">
              {% for building in company.buildings %}
                  <li class="dd-item" data-id="{{building.id_building}}">
                    <div class="dd-handle">{{building.name}}</div>

                    <ol class="dd-list">
                      {% for floor in building.floors %}
                      <li class="dd-item" data-id="{{floor.id_floor}}">
                        <div class="dd-handle">{{floor.name}}</div>

                        <ol class="dd-list">
                          {% for room in floor.rooms %}
                          <li class="dd-item" data-id="{{room.id_room}}">
                            <div class="dd-handle">{{room.name}}</div>

                            <ol class="dd-list">

                              {% for group_rack in room.group_racks %}
                                <li class="dd-item" data-id="{{group_rack.id_group_rack}}">
                                  <div class="dd-handle">{{group_rack.name}}</div>

                                    <ol class="dd-list">

                                      {% for rack in group_rack.racks %}
                                        <li class="dd-item" data-id="{{rack.id_rack}}">
                                          <div class="dd-handle">{{rack.name}}</div>
                                        </li>

                                        <ol class="dd-list">

                                          <ol class="dd-list">

                                            <div id="accordion">
                                              <div class="card">
                                                <div class="card-header">
                                                  <a class="card-link" data-toggle="collapse" href="#collapse{{rack.id_rack_by_api}}">
                                                    Mais informações
                                                  </a>
                                                </div>
                                                <div id="collapse{{rack.id_rack_by_api}}" class="collapse" data-parent="#accordion">
                                                  <div class="card-body">
                                                        <ul>
                                                          <li>
                                                            <div>ID: {{rack.id_rack_by_api}}</div>
                                                          </li>
                                                          <li>
                                                            <div>FILEIRA: {{rack.zone}}</div>
                                                          </li>
                                                          <li>
                                                            <div>POSIÇÃO: {{rack.position_zone}}</div>
                                                          </li>
                                                          <li>
                                                            <div>TOTAL US: {{rack.total_ru}}</div>
                                                          </li>
                                                          <li>
                                                            <div>TOTAL POTÊNCIA: {{rack.potency_watts_limit}}</div>
                                                          </li>
                                                          <li>
                                                            <div>TOTAL TOMADAS: {{rack.electrical_sockets_limit}}</div>
                                                          </li>
                                                          <li>
                                                            <div>US DISPONÍVEIS: {{rack.getUsAvailable()}}</div>
                                                          </li>
                                                          <li>
                                                            <div>MAIOR ABERTURA: {{rack.getLargestOpeningUs()}}</div>
                                                          </li>
                                                          <li>
                                                            <div>TOTAL PORTAS COBRE: {{rack.getTotalPortsCopper()}}</div>
                                                          </li>
                                                          <li>
                                                            <div>TOTAL PORTAS COBRE DISPONÍVEIS: {{rack.getTotalPortsCopperAvailable()}}</div>
                                                          </li>
                                                          <li>
                                                            <div>TOTAL PORTAS FIBRA: {{rack.getTotalPortsFiber()}}</div>
                                                          </li>
                                                          <li>
                                                            <div>TOTAL PORTAS FIBRA DISPONÍVEIS: {{rack.getTotalPortsFiberAvailable()}}</div>
                                                          </li>
                                                          <li>
                                                            <div>POTÊNCIA DISPONÍVEL: {{rack.getPotencyAvailable()}}</div>
                                                          </li>
                                                          <li>
                                                            <div>TOMADA DISPONÍVEL: {{rack.getElectricalSocketsAvailable()}}</div>
                                                          </li>
                                                        </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                          {% for equipament in rack.equipaments %}
                                            <li class="dd-item" data-id="{{equipament.id_equipament}}">
                                              <div class="dd-handle">
                                                <div>{{equipament.name}} </div>
                                              </div>

                                              <ol class="dd-list">
                                              <div id="accordion">
                                                <div class="card">
                                                  <div class="card-header">
                                                    <a class="card-link" data-toggle="collapse" href="#collapse{{equipament.id_equipament_by_api}}">
                                                      Mais informações
                                                    </a>
                                                  </div>
                                                  <div id="collapse{{equipament.id_equipament_by_api}}" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                      <ul>
                                                        <li >
                                                          <div>ID: {{equipament.id_equipament_by_api}}</div>
                                                        </li>
                                                        <li >
                                                          <div>RU TOP: {{equipament.ru_top}}</div>
                                                        </li>
                                                        <li >
                                                          <div>RU BUTTOM: {{equipament.ru_buttom}}</div>
                                                        </li>
                                                        <li >
                                                          <div>RU SIZE: {{equipament.ru_size}}</div>
                                                        </li>
                                                        <li >
                                                          <div>TIPO: {{equipament.resource_type_name}}</div>
                                                        </li>
                                                        <li>
                                                          <div>SERVIÇO: {{equipament.getService()}}</div>
                                                        </li>
                                                        <li >
                                                          <div>POTÊNCIA USADA: {{equipament.potency_watts_usage}}</div>
                                                        </li>
                                                        <li >
                                                          <div>TOMADA USADA: {{equipament.electrical_sockets_usage}}</div>
                                                        </li>
                                                        <li >
                                                          <div>
                                                            <a href="/{{equipament.id_equipament}}/ports" target="_blank">PORTAS</a>
                                                          </div>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                            </ol>

                                            </li>

                                          {% endfor %}

                                        </ol>

                                      {% endfor %}


                                    </ol>

                                </li>
                              {% endfor %}

                              {% for rack in room.racks %}

                                  {% if rack.id_group_rack == None %}

                                    <li class="dd-item" data-id="{{rack.id_rack}}" >
                                      <div class="dd-handle">{{rack.name}}</div>

                                      <ol class="dd-list">

                                        <div id="accordion">
                                          <div class="card">
                                            <div class="card-header">
                                              <a class="card-link" data-toggle="collapse" href="#collapse{{rack.id_rack_by_api}}">
                                                Mais informações
                                              </a>
                                            </div>
                                            <div id="collapse{{rack.id_rack_by_api}}" class="collapse" data-parent="#accordion">
                                              <div class="card-body">
                                                    <ul>
                                                      <li>
                                                        <div>ID: {{rack.id_rack_by_api}}</div>
                                                      </li>
                                                      <li>
                                                        <div>FILEIRA: {{rack.zone}}</div>
                                                      </li>
                                                      <li>
                                                        <div>POSIÇÃO: {{rack.position_zone}}</div>
                                                      </li>
                                                      <li>
                                                        <div>TOTAL US: {{rack.total_ru}}</div>
                                                      </li>
                                                      <li>
                                                        <div>TOTAL POTÊNCIA: {{rack.potency_watts_limit}}</div>
                                                      </li>
                                                      <li>
                                                        <div>TOTAL TOMADAS: {{rack.electrical_sockets_limit}}</div>
                                                      </li>
                                                      <li>
                                                        <div>US DISPONÍVEIS: {{rack.getUsAvailable()}}</div>
                                                      </li>
                                                      <li>
                                                        <div>MAIOR ABERTURA: {{rack.getLargestOpeningUs()}}</div>
                                                      </li>
                                                      <li>
                                                        <div>TOTAL PORTAS COBRE: {{rack.getTotalPortsCopper()}}</div>
                                                      </li>
                                                      <li>
                                                        <div>TOTAL PORTAS COBRE DISPONÍVEIS: {{rack.getTotalPortsCopperAvailable()}}</div>
                                                      </li>
                                                      <li>
                                                        <div>TOTAL PORTAS FIBRA: {{rack.getTotalPortsFiber()}}</div>
                                                      </li>
                                                      <li>
                                                        <div>TOTAL PORTAS FIBRA DISPONÍVEIS: {{rack.getTotalPortsFiberAvailable()}}</div>
                                                      </li>
                                                      <li>
                                                        <div>POTÊNCIA DISPONÍVEL: {{rack.getPotencyAvailable()}}</div>
                                                      </li>
                                                      <li>
                                                        <div>TOMADA DISPONÍVEL: {{rack.getElectricalSocketsAvailable()}}</div>
                                                      </li>
                                                    </ul>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        {% for equipament in rack.equipaments %}

                                        {% if equipament.id_equipament_parent == None %}

                                          <li class="dd-item" data-id="{{equipament.id_equipament}}">
                                            <div class="dd-handle">
                                              <div>{{equipament.name}}</div>
                                            </div>

                                              <ol class="dd-list">
                                            <div id="accordion">
                                              <div class="card">
                                                <div class="card-header">
                                                  <a class="card-link" data-toggle="collapse" href="#collapse{{equipament.id_equipament_by_api}}">
                                                    Mais informações
                                                  </a>
                                                </div>
                                                <div id="collapse{{equipament.id_equipament_by_api}}" class="collapse" data-parent="#accordion">
                                                  <div class="card-body">
                                                    <ul>
                                                      <li >
                                                        <div>ID: {{equipament.id_equipament_by_api}}</div>
                                                      </li>
                                                      <li >
                                                        <div>RU TOP: {{equipament.ru_top}}</div>
                                                      </li>
                                                      <li >
                                                        <div>RU BUTTOM: {{equipament.ru_buttom}}</div>
                                                      </li>
                                                      <li >
                                                        <div>RU SIZE: {{equipament.ru_size}}</div>
                                                      </li>
                                                      <li >
                                                        <div>TIPO: {{equipament.resource_type_name}}</div>
                                                      </li>
                                                      <li>
                                                        <div>SERVIÇO: {{equipament.getService()}}</div>
                                                      </li>
                                                      <li >
                                                        <div>POTÊNCIA USADA: {{equipament.potency_watts_usage}}</div>
                                                      </li>
                                                      <li >
                                                        <div>TOMADA USADA: {{equipament.electrical_sockets_usage}}</div>
                                                      </li>
                                                      <li >
                                                        <div>
                                                          <a href="/{{equipament.id_equipament}}/ports" target="_blank">PORTAS</a>
                                                        </div>
                                                      </li>
                                                      </ul>
                                                    </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                {% for obj in equipament.equipaments %}
                                                <li class="dd-item" data-id="{{obj.id_equipament}}">
                                                  <div class="dd-handle">{{obj.name}}</div>


                                                  <ol class="dd-list">
                                                <div id="accordion">
                                                  <div class="card">
                                                    <div class="card-header">
                                                      <a class="card-link" data-toggle="collapse" href="#collapse{{obj.id_equipament_by_api}}">
                                                        Mais informações
                                                      </a>
                                                    </div>
                                                    <div id="collapse{{obj.id_equipament_by_api}}" class="collapse" data-parent="#accordion">
                                                      <div class="card-body">
                                                        <ul>
                                                          <li >
                                                            <div>ID PARENT: {{obj.id_equipament_parent}}</div>
                                                          </li>
                                                          <li >
                                                            <div>ID: {{obj.id_equipament_by_api}}</div>
                                                          </li>
                                                          <li >
                                                            <div>RU TOP: {{obj.ru_top}}</div>
                                                          </li>
                                                          <li >
                                                            <div>RU BUTTOM: {{obj.ru_buttom}}</div>
                                                          </li>
                                                          <li >
                                                            <div>RU SIZE: {{obj.ru_size}}</div>
                                                          </li>
                                                          <li >
                                                            <div>TIPO: {{obj.resource_type_name}}</div>
                                                          </li>
                                                          <li>
                                                            <div>SERVIÇO: {{obj.getService()}}</div>
                                                          </li>
                                                          <li >
                                                            <div>POTÊNCIA USADA: {{obj.potency_watts_usage}}</div>
                                                          </li>
                                                          <li >
                                                            <div>TOMADA USADA: {{obj.electrical_sockets_usage}}</div>
                                                          </li>
                                                          <li >
                                                            <div>
                                                              <a href="/{{obj.id_equipament}}/ports" target="_blank">PORTAS</a>
                                                            </div>
                                                          </li>
                                                          </ul>
                                                        </div>
                                                        </div>
                                                      </div>
                                                    </div>

                                                  </ol>





                                                </li>
                                                {% endfor %}

                                              </ol>

                                          </li>

                                        {% endif %}

                                        {% endfor %}


                                      </ol>


                                    </li>

                                  {% endif %}

                              {% endfor %}

                            </ol>

                          </li>

                          {% endfor %}
                        </ol>

                      </li>

                      {% endfor %}
                    </ol>

                  </li>
              {% endfor %}
              </ol>

            </li>
        {% endfor %}

      </ol>

    </div>

  </div>

  <script type="text/javascript" src="{{url_for('static',filename='jquery.nestable.js')}}"></script>

  <script>
    $(document).ready(function() {


      function openInfo(info){
          alert(info);
      }

      $('#nestable').nestable();
      $('.dd').nestable('collapseAll');

    });

  </script>


</body>

</html>
