<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>TSInova - Login</title>
</head>

<body>

  {% with errors = get_flashed_messages(category_filter=["general"]) %} {% if errors %}
  <div class="alert-message">
    {%- for msg in errors %} {{ msg }} {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <form method="POST">

    <input type="email" name="email" placeholder="E-mail" value="{{email or " "}}" required></input>
    {% with errors = get_flashed_messages(category_filter=["email"]) %} {% if errors %}
    <div class="alert-message">
      {%- for msg in errors %} {{ msg }} {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <input type="password" name="password" placeholder="Senha" value="" required></input>
    {% with errors = get_flashed_messages(category_filter=["password"]) %} {% if errors %}
    <div class="alert-message">
      {%- for msg in errors %} {{ msg }} {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <input type="submit" name="submit" value="Entrar"></input>
  </form>

</body>

</html>
