<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>TSInova - Portas</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jquery.nestable.css')}}">

</head>

<body>

  <div class="cf nestable-lists">

    <div class="dd" id="nestable">

      <ol class="dd-list">


        {% for slot in equipament.getSlots() %}
        <li class="dd-item" data-id="{{slot.id_slot}}">
          <div class="dd-handle">{{slot.name}}</div>

          <ol class="dd-list">
              {% for port in slot.ports %}
              <li class="dd-item" data-id="{{port.id_equipament_port}}">
                <div class="dd-handle">{{port.name}}</div>
                <ol >
                  <ul>
                    <li >
                      <div>ID: {{port.id_port_by_api}}</div>
                    </li>
                    <li >
                      <div>STATUS: {{port.getStatusToString()}}</div>
                    </li>
                    <li >
                      <div>SERVIÇO: {{port.service}}</div>
                    </li>
                    <li >
                      <div>VELOCIDADE: {{port.velocity}}</div>
                    </li>
                    <li >
                      <div>TIPO: {{port.type}}</div>
                    </li>
                  </ul>
                </ol>
              </li>
              {% endfor %}
          </ol>

        </li>
        {% endfor %}

        {% for port in equipament.getPorts() %}
        <li class="dd-item" data-id="{{port.id_equipament_port}}">
          <div class="dd-handle">{{port.name}}</div>
          <ol >
            <ul>
              <li >
                <div>ID: {{port.id_port_by_api}}</div>
              </li>
              <li >
                <div>STATUS: {{port.getStatusToString()}}</div>
              </li>
              <li >
                <div>SERVIÇO: {{port.service}}</div>
              </li>
              <li >
                <div>VELOCIDADE: {{port.velocity}}</div>
              </li>
              <li >
                <div>TIPO: {{port.type}}</div>
              </li>
            </ul>
          </ol>
        </li>
        {% endfor %}

      </ol>

    </div>

  </div>

  <script src="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='jquery.nestable.js')}}"></script>

  <script>
    $(document).ready(function() {

      $('#nestable').nestable();
      $('.dd').nestable('collapseAll');

      updateOutput($('#nestable').data('output', $('#nestable-output')));

    });
  </script>

</body>

</html>
