<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title></title>
</head>

<body>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <form method="POST">
    <input type="text" name="name" placeholder="Informe o nome" value="{{name or ""}}" required></input>
    <input type="email" name="email" placeholder="Informe o email" value="{{email or ""}}" required></input>
    <input type="password" name="password" placeholder="Informe a senha" value="{{password or ""}}" required></input>
    <input type="password" name="repeat-password" placeholder="Repita a senha" value="{{repeatPassword or ""}}" required></input>
    <input type="submit" name="submit" value="Cadastrar"></input>
  </form>

</body>

</html>
