.range_green{
  background: #199a23;
}

.range_yellow{
  background: #e0d165;
}

.range_red{
  background: #e81616;
}

.range_standard_deviation{
  color:  #fff;
  padding-left:  10px;
  padding-right:  10px;
  border-radius:  5px;
}

.limiting_green{
  color: #199a23;
}

.limiting_red{
  color: #e81616;
}

td{
  vertical-align: middle !important;
}

td.center_horizontal{
  text-align: center !important;
}
