<!DOCTYPE html>
<html lang="pt">
<head>

  <meta charset="utf-8" />
  <title>TSInovaApp - Geral</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-default.css" rel="stylesheet" />
  <link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->

  <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
  <link href="/static/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/flexdatalist/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
  <link href="/static/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
  <link href="/static/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
  <!-- ================== END PAGE LEVEL STYLE ================== -->

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/static/assets/plugins/pace/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->

  <style>
  .card-header{
    background: #e8e6e6 !important;
    color: #5f5f5f !important;
  }
  .card-body{
    border: 1px solid #efe8e8 !important;
  }
  </style>

</head>

<body>
  <!-- begin #page-loader -->
  <div id="page-loader" class="fade show"><span class="spinner"></span></div>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    {% include "/admin/header.html" %}
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <a href="javascript:;" data-toggle="nav-profile">
              <div class="cover with-shadow"></div>
              <div class="image">
                <i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
              </div>
              <div class="info">
                <b class="caret pull-right"></b>
                {{user.name}}
                <small>TSInova App</small>
              </div>
            </a>
          </li>
          <li>
            <ul class="nav nav-profile">
              <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Editar Perfil</a></li>
              <li><a href="javascript:;"><i class="fa fa-cog"></i> Configurações</a></li>
              <li><a href="/admin/logout"><i class="fas fa-lg fa-fw m-r-10 fa-power-off"></i> Sair</a></li>
            </ul>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">

          <li class="nav-header">Menu</li>

          <li>
            <a href="/admin/">
              <i class="fa fa-th-large"></i>
              <span>Início</span>
            </a>
          </li>

          <li>
            <a href="/admin/racks">
              <i class="fas fa-lg fa-fw m-r-10 fa-table"></i>
              <span>Racks</span>
            </a>
          </li>

          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fas fa-lg fa-fw m-r-10 fa-play-circle"></i>
              <span>Simulação</span>
            </a>
            <ul class="sub-menu">
              <li><a href="/admin/simulation/install-server">Instalação de servidor</a></li>
              <li><a href="/admin/simulation/future">Futura</a></li>
            </ul>
          </li>

          <li class="has-sub active">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fa fa-cogs"></i>
              <span>Configurações</span>
            </a>
            <ul class="sub-menu">
              <li class="active"><a href="/admin/general">Geral</a></li>
              <li><a href="/admin/users">Usuários</a></li>
              <li><a href="/admin/servers">Servidores</a></li>
            </ul>
          </li>
          <!-- begin sidebar minify button -->
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
          <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
      <!-- begin breadcrumb -->
      <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
        <li class="breadcrumb-item active">Geral</li>
      </ol>
      <!-- end breadcrumb -->
      <!-- begin page-header -->
      <h1 class="page-header">Geral <small>definição dos parâmetros para a utilização do sistema</small></h1>
      <!-- end page-header -->

      <!-- begin panel -->
      <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
          </div>
          <h4 class="panel-title">Geral - parâmetros</h4>
        </div>
        <!-- end panel-heading -->

        <!-- begin panel-body -->
        <div class="panel-body">

          <div id="accordion" class="card-accordion">
            <!-- begin card -->
            <div class="card">
              <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
                Racks que devem participar dos cálculos
              </div>
              <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                <div class="card-body">


                  <div class="row">
                    <div class="col-md-5">
                      <div class="col-md-12"><label>Prédio:</label></div>
                      <div class="col-md-12">
                        <select class="form-control" id="building-search">
                          <option value=""></option>
                          {% for building in buildings %}
                          <option value="{{building.name}}">{{building.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="col-md-12"><label>Rack:</label></div>
                      <div class="col-md-12">
                        <input type="text" placeholder="Pesquisar" id="rack-search" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="col-md-12"><label>Exibir:</label></div>
                      <div class="col-md-12">
                        <select class="form-control" id="exibir-search">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                    </div>
                  </div>


                  <table id="table-racks" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="1%"></th>
                        <th width="1%" data-orderable="false"></th>
                        <th class="text-nowrap">Rack</th>
                        <th class="text-nowrap">Participar</th>
                        <th class="text-nowrap">Prédio</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for index,rack in enumerate(racks) %}
                      <tr class="gradeA">
                        <td width="1%" class="f-s-600 text-inverse">{{index+1}}</td>
                        <td width="1%" class="with-img"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
                        <td>
                          {{rack.name}}<br/>
                          <span style="font-size: 11px;"><b>Local Instalação:</b> {{rack.getLocalInstallation()}}</span>
                        </td>
                        <td>
                          <div class="checkbox checkbox-css">
                            {% if rack.participate_calculation %}
                            <input type="checkbox" checked class="chk-rack-participate" value="{{rack.id_rack}}" id="chk_rack_{{rack.id_rack}}">
                            {% else %}
                            <input type="checkbox" class="chk-rack-participate" value="{{rack.id_rack}}" id="chk_rack_{{rack.id_rack}}">
                            {% endif %}
                            <label for="chk_rack_{{rack.id_rack}}"></label>
                          </div>
                        </td>
                        <td>{{rack.room.floor.building.name}}</td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end card -->

            <!-- begin card -->
            <div class="card">
              <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                Grupos de racks - Conexões
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                <div class="card-body">

                  <a href="#modal-form-form-add" id="open-form-add" data-toggle="modal" class="btn btn-white btn-xs m-r-5 m-b-5" style="margin-bottom: 20px !important">Adicionar novo</a>

                  <!-- #modal-dialog -->
                  <div class="modal fade" id="modal-form-form-add">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <form id="form-add-group-connection" class="form-horizontal" method="GET" data-parsley-validate="true">
                          <input type="hidden" name="action" value="add_group_connection">
                          <div class="modal-header">
                            <h4 class="modal-title">Novo grupo</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group row m-b-15">
                              <label class="col-md-2 col-sm-2 col-form-label">Nome * :</label>
                              <div class="col-md-10 col-sm-10">
                                <input class="form-control" type="text" name="name" placeholder="Informe o nome" data-parsley-required="true" autofocus />
                              </div>
                            </div>
                            <div class="form-group row m-b-15">
                              <label class="col-md-2 col-sm-2 col-form-label">Racks :</label>
                              <div class="col-md-10 col-sm-10">
                                <input type='text'
                                class='form-control flexdatalist'
                                data-min-length='1'
                                multiple='multiple'
                                list='list_racks'
                                data-value-property='value'
                                name='racks'>
                                <datalist id="list_racks">
                                  {% for index,rack in enumerate(racks) %}
                                  {% if rack.participate_calculation %}
                                  <option value="{{rack.id_rack}}">{{rack.name}}-{{rack.getLocalInstallation()}}</option>
                                  {% endif %}
                                  {% endfor %}
                                </datalist>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-white cancel" data-dismiss="modal">Cancelar</a>
                            <button href="javascript:;" class="btn btn-success">Cadastrar</button>
                          </div>
                        </form>
                      </div>
                      <!-- end modal-content -->
                    </div>
                  </div>
                  <!-- end modal -->

                  <div id="alert-form-group-connection">
                  </div>

                  <table id="table-group-connections" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th width="1%"></th>
                        <th width="1%" data-orderable="false"></th>
                        <th class="text-nowrap">Grupo</th>
                        <th class="text-nowrap">Racks</th>
                        <th class="text-nowrap">Ação</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for index,group_connection in enumerate(group_connections) %}

                      <tr class="gradeA">
                        <td width="1%" class="f-s-600 text-inverse center_horizontal">{{index+1}}</td>
                        <td width="1%" class="with-img center_horizontal"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
                        <td>{{group_connection.name}}</td>
                        <td>

                          <ul>
                            {% for index,rack in enumerate(group_connection.racks) %}
                            <li>{{rack.name}}</li>
                            {% endfor %}
                          </ul>

                        </td>
                        <td class="center_horizontal">

                          <a href="#modal-form-update-group-connection"
                          data-id="{{group_connection.id_group_connection}}"
                          data-name="{{group_connection.name}}"
                          data-index="{{index+1}}"
                          data-racks="{{group_connection.getIdsRacksToString()}}"
                          class="btn btn-xs btn-primary m-r-5 open-form-update-group-connection"
                          onclick="openFormUpdateGroupConnection(this)"
                          data-toggle="modal" class="btn btn-xs btn-primary m-r-5">Editar</a>

                          <!-- end modal -->
                          <form class="form-remove-group-connection" onsubmit="return removeGroupConnection(this)" style="display: inline-block;">
                            <!-- begin fields hidden -->
                            <input type="hidden" name="index" value="{{index+1}}">
                            <input type="hidden" name="action" value="remove_group_connection">
                            <input type="hidden" name="id" value="{{group_connection.id_group_connection}}">
                            <!-- enf fields hidden -->
                            <button href="javascript:;" class="btn btn-xs btn-danger m-r-5">Excluir</button>
                          </form>

                        </td>

                      </tr>

                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end card -->

          </div>

        </div>
        <!-- end panel-body -->
      </div>
      <!-- end panel -->


      <!-- begin panel -->
      <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
          </div>
          <h4 class="panel-title">Elétrica - parâmetros</h4>
        </div>
        <!-- end panel-heading -->

        <!-- begin panel-body -->
        <div class="panel-body">

          <div id="alert-form-electrical-parameters">
          </div>

          <form method="POST"
          data-parsley-validate="true"
          id="form-update-electrical-parameters">
          <input type="hidden" name="action" value="update_electrical_parameters">
          <div class="form-group row m-b-15">
            <label class="col-form-label col-md-2">Índice para cálculo de potência: </label>
            <div class="col-md-3">
              <input data-parsley-required="true" type="text" name="potency_indice" class="form-control m-b-5" value="{{electrical_parameters.potency_indice}}" placeholder="Informe o valor">
              <small class="f-s-12 text-grey-darker">O valor será multiplicado pela potência informada no cadastro do servidor. </small>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <div class="col-md-5" style="text-align: right;">
              <button href="javascript:;" class="btn btn-success">Salvar</button>
            </div>
          </div>
        </form>

      </div>

    </div>



    <!-- end panel -->
  </div>
  <!-- end #content -->

  <!-- #modal-dialog -->
  <div class="modal fade" id="modal-form-update-group-connection">

    <div class="modal-dialog">

      <div class="modal-content">

        <form id="form-update-group-connection"
        method="POST"
        data-parsley-validate="true">

        <!-- begin fields hidden -->
        <input type="hidden" name="index" value="">
        <input type="hidden" name="action" value="update_group_connection">
        <input type="hidden" name="id" value="">
        <!-- enf fields hidden -->

        <!-- begin title modal -->
        <div class="modal-header">
          <h4 class="modal-title">Atualizar cadastro</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <!-- end title modal -->

        <!-- begin body modal -->
        <div class="modal-body">

          <!-- begin field form -->
          <div class="form-group row m-b-15" style="text-align: center;">
            <label class="col-md-2 col-sm-2 col-form-label">Nome * :</label>
            <div class="col-md-10 col-sm-10">
              <input class="form-control"
              style="width: 100%"
              type="text"
              name="name"
              value=""
              placeholder="Informe o nome"
              data-parsley-required="true"
              autofocus />
            </div>
          </div>
          <!-- enf field form -->

          <!-- begin field form -->
          <div class="form-group row m-b-15">
            <label class="col-md-2 col-sm-2 col-form-label">Racks :</label>
            <div class="col-md-10 col-sm-10">
              <input type='text'
              class='form-control flexdatalist'
              data-min-length='1'
              multiple='multiple'
              list='list_racks'
              data-value-property='value'
              name='racks'>
              <datalist id="list_racks">
                {% for index,rack in enumerate(racks) %}
                {% if rack.participate_calculation %}
                <option value="{{rack.id_rack}}">{{rack.name}}</option>
                {% endif %}
                {% endfor %}
              </datalist>
            </div>
          </div>
          <!-- enf field form -->

        </div>
        <!-- end begin body modal -->

        <div class="modal-footer">
          <a href="javascript:;" class="btn btn-white cancel" data-dismiss="modal">Cancelar</a>
          <button href="javascript:;" class="btn btn-success">Atualizar</button>
        </div>

      </form>

    </div>
    <!-- end modal-content -->
  </div>

</div>

<!-- begin scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="/static/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
<script src="/static/assets/js/theme/default.min.js"></script>
<script src="/static/assets/js/apps.min.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/static/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="/static/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="/static/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/flexdatalist/jquery.flexdatalist.min.js"></script>
<script src="/static/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="/static/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script src="/static/assets/plugins/parsley/dist/parsley.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>

App.init();

$("#form-add-group-connection input[name='racks']").flexdatalist({
  selectionRequired: 1,
});

$("#form-update-group-connection input[name='racks']").flexdatalist({
  selectionRequired: 1,
});


$("#building-search").change(function() {
  var search = $(this).val();
  var table = $('#table-racks').DataTable();
  table.columns(4).search(search).draw();
});

$("#rack-search").keyup(function() {
  var search = $(this).val();
  var table = $('#table-racks').DataTable();
  table.columns(2).search(search).draw();
});

$("#exibir-search").change(function() {
  var val = parseInt($(this).val());
  var table = $('#table-racks').dataTable();
  var oSettings = table.fnSettings();
  oSettings._iDisplayLength = val;
  table.fnDraw();
});


if ($('#table-racks').length !== 0) {
  $('#table-racks').DataTable({
    responsive: true,
    "sDom": "tipr",
    "columnDefs": [
      { "searchable": false, "targets": 0, "visible": false },
      { "searchable": true, "visible": false, "targets": 4 },
    ]
  });
}

if ($('#table-group-connections').length !== 0) {
  $('#table-group-connections').DataTable({
    responsive: true,
    "columnDefs": [{ "searchable": false, "targets": 0, "visible": false }]
  });
}


$('.chk-rack-participate').change(function() {
  var element = this;
  var id = $(element).val();
  var selected = element.checked;
  var data = {action: "rack_participate", id: id, participate: selected};

  $.ajax({
    type: 'POST',
    url: '/admin/general',
    data: JSON.stringify (data),
    success: function(data) {
      if (data.status != 1){
        $(element).prop('checked', !selected);
      }
      console.log(data);
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      $(element).prop('checked', !selected);
    },
    contentType: "application/json",
    dataType: 'json'
  });

});

function addRowGroupConnection(data){
  var table = $("#table-group-connections").DataTable();
  racks = function(){
    var list = "<ul>";
    for (i in data.racks){
      list += "<li>"+data.racks[i].name+"</li>";
    }
    list += "</ul>";
    return list;
  }

  var index = 1;

  if (table.rows().count() > 0){
    index = parseInt(table.row(table.rows().count()-1).data()[0])+1 ;
  }

  var tdActionsRemove = ('<!-- end modal -->' +
  '<form class="form-remove-group-connection" onsubmit="return removeGroupConnection(this)" style="display: inline-block;">' +
  '<!-- begin fields hidden -->' +
  '<input type="hidden" name="index" value="'+index+'">' +
  '<input type="hidden" name="action" value="remove_group_connection">' +
  '<input type="hidden" name="id" value="'+data.id+'">' +
  '<!-- enf fields hidden -->' +
  '<button href="javascript:;" class="btn btn-xs btn-danger m-r-5">Excluir</button>' +
  '</form>');

  var tdActionsUpdate = ('<a href="#modal-form-update-group-connection"' +
  'data-id="'+data.id+'"' +
  'data-name="'+data.name+'"' +
  'data-racks="'+data.racks_string+'"' +
  'data-index="'+index+'"'+
  'class="btn btn-xs btn-primary m-r-5 open-form-update-group-connection"' +
  'onclick="openFormUpdateGroupConnection(this)"' +
  'data-toggle="modal" class="btn btn-xs btn-primary m-r-5">Editar</a>');


  var row = table.row.add([
    index,
    '<img src="/static/assets/img/rack.png" class="img-rounded height-30" />',
    data.name,
    racks(),
    tdActionsUpdate + tdActionsRemove
  ]).draw().node();

  $(row).each(function( index ) {
    $( this ).find( "td:eq(0)" ).addClass("f-s-600 text-inverse center_horizontal");
    $( this ).find( "td:eq(0)" ).css("width","1%");
    $( this ).find( "td:eq(1)" ).addClass("with-img center_horizontal");
    $( this ).find( "td:eq(1)" ).css("width","1%");
    $( this ).find( "td:eq(4)" ).addClass("center_horizontal");
  });

}

function updateRowGroupConnection(data, row){
  var table = $("#table-group-connections").DataTable();
  racks = function(){
    var list = "<ul>";
    for (i in data.racks){
      list += "<li>"+data.racks[i].name+"</li>";
    }
    list += "</ul>";
    return list;
  }

  var tdActionsRemove = ('<!-- end modal -->' +
  '<form class="form-remove-group-connection" onsubmit="return removeGroupConnection(this)" style="display: inline-block;">' +
  '<!-- begin fields hidden -->' +
  '<input type="hidden" name="index" value="'+row+'">' +
  '<input type="hidden" name="action" value="remove_group_connection">' +
  '<input type="hidden" name="id" value="'+data.id+'">' +
  '<!-- enf fields hidden -->' +
  '<button href="javascript:;" class="btn btn-xs btn-danger m-r-5">Excluir</button>' +
  '</form>');

  var tdActionsUpdate = ('<a href="#modal-form-update-group-connection"' +
  'data-id="'+data.id+'"' +
  'data-name="'+data.name+'"' +
  'data-racks="'+data.racks_string+'"' +
  'data-index="'+row+'"'+
  'class="btn btn-xs btn-primary m-r-5 open-form-update-group-connection"' +
  'onclick="openFormUpdateGroupConnection(this)"' +
  'data-toggle="modal" class="btn btn-xs btn-primary m-r-5">Editar</a>');

  for (var i = 0; i < table.rows().count(); i++) {
    if (parseInt(table.row(i).data()[0]) == row){
      var idx = table.row(i).index();
      table.cell(idx, 2).data(data.name).draw();
      table.cell(idx, 3).data(racks()).draw();
      table.cell(idx, 4).data(tdActionsUpdate + tdActionsRemove).draw();
      break;
    }
  }

}


function removeRowGroupConnection(row){
  var table = $("#table-group-connections").DataTable();
  for (var i = 0; i < table.rows().count(); i++) {
    var data = table.row(i).data();
    if (parseInt(data[0]) == row){
      table.row(i).remove().draw();
      break;
    }
  }
}


function alertGroupConnection(type, message){
  $("#alert-form-group-connection").empty();
  if (type == 1){
    var alert = '<div class="alert alert-lime fade show m-b-10"><span class="close" data-dismiss="alert">×</span>' + message + '</div>'
    $("#alert-form-group-connection").append(alert);
  }else if (type == 2){
    var alert = '<div class="alert alert-danger fade show"><span class="close" data-dismiss="alert">×</span>'+ message + '</div>'
    $("#alert-form-group-connection").append(alert);
  }
}


$("#open-form-add").click(function(){
  $('#form-add-group-connection').parsley().reset();
  $("#form-add-group-connection input[name='name']").val("");
  $("#form-add-group-connection input[name='racks']").flexdatalist('reset');
});


function openFormUpdateGroupConnection(a){
  $("#form-update-group-connection").parsley().reset();
  $("#form-update-group-connection input[name='name']").val(a.dataset.name);
  $("#form-update-group-connection input[name='id']").val(a.dataset.id);
  $("#form-update-group-connection input[name='index']").val(a.dataset.index);
  $("#form-update-group-connection input[name='racks']").flexdatalist('reset');
  $("#form-update-group-connection input[name='racks']").val(a.dataset.racks);
}

$("#form-update-group-connection").submit(function( event ) {
  var values = {};
  $.each($(this).serializeArray(), function(i, field) {
    values[field.name] = field.value;
  });
  $("#alert-form-group-connection").empty();
  $.ajax({
    type: 'POST',
    url: '/admin/general',
    data:  JSON.stringify (values),
    success: function(data) {
      if (data.status == 1){
        updateRowGroupConnection(data.data, parseInt(values.index));
        alertGroupConnection(1, "Cadastro atualizado com sucesso!");
      }else{
        alertGroupConnection(2, "Não foi possível atualizar o cadastro!");
      }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      alertGroupConnection(2, "Não foi possível atualizar o cadastro!");
    },
    contentType: "application/json",
    dataType: 'json'
  });
  $(".cancel").click();
  return false;
});


$("#form-add-group-connection").submit(function( event ) {
  var values = {};
  $.each($(this).serializeArray(), function(i, field) {
    values[field.name] = field.value;
  });
  $("#alert-form-group-connection").empty();
  $.ajax({
    type: 'POST',
    url: '/admin/general',
    data:  JSON.stringify (values),
    success: function(data) {
      if (data.status == 1){
        alertGroupConnection(1, "Grupo cadastrado com sucesso!");
        addRowGroupConnection(data.data);
      }else{
        alertGroupConnection(2, "Não foi possível cadastrar o grupo!");
      }
      $(".cancel").click();
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      alertGroupConnection(2, "Não foi possível cadastrar o grupo!");
      $(".cancel").click();
    },
    contentType: "application/json",
    dataType: 'json'
  });
  return false;
});


function removeGroupConnection(form){
  var values = {};
  $.each($(form).serializeArray(), function(i, field) {
    values[field.name] = field.value;
  });
  console.log(values);
  $("#alert-form-group-connection").empty();
  swal({
    title: 'Exclusão',
    text: 'Deseja realmente excluir este grupo de rack?',
    icon: 'info',
    buttons: {
      cancel: {
        text: 'Cancelar',
        value: null,
        visible: true,
        className: 'btn btn-default',
        closeModal: true,
      },
      confirm: {
        text: 'Excluir',
        value: true,
        visible: true,
        className: 'btn btn-primary',
        closeModal: true
      }
    }
  }).then(function(e){
    if (e){
      $.ajax({
        type: 'POST',
        url: '/admin/general',
        data:  JSON.stringify(values),
        success: function(data) {
          if (data.status == 1){
            alertGroupConnection(1, "Grupo deletado com sucesso!");
            removeRowGroupConnection(parseInt(values.index));
          }else{
            alertGroupConnection(2, "Não foi possível deletar o grupo!");
          }
          console.log(data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alertGroupConnection(2, "Não foi possível deletar o grupo!");
        },
        contentType: "application/json",
        dataType: 'json'
      });
    }
  });
  return false;
}


$("#form-update-electrical-parameters").submit(function( event ) {
  var values = {};
  $.each($(this).serializeArray(), function(i, field) {
    values[field.name] = field.value;
  });

  values['potency_indice'] = parseFloat(values['potency_indice']);

  if (isNaN(values['potency_indice'])) {
    alertElectricalParameters(2, "Valor informado incorreto. O valor deve ser um número decimal.");
    return false;
  }

  $.ajax({
    type: 'POST',
    url: '/admin/general',
    data:  JSON.stringify (values),
    success: function(data) {
      console.log(data);
      if (data.status == 1){
        alertElectricalParameters(1, "Parâmetros atualizado com sucesso!");
      }else{
        alertElectricalParameters(2, "Não foi possível salvar as alterações!");
      }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      alertElectricalParameters(2, "Não foi possível salvar as alterações!");
    },
    contentType: "application/json",
    dataType: 'json'
  });

  return false;
});


function alertElectricalParameters(type, message){
  $("#alert-form-electrical-parameters").empty();
  if (type == 1){
    var alert = '<div class="alert alert-lime fade show m-b-10"><span class="close" data-dismiss="alert">×</span>' + message + '</div>'
    $("#alert-form-electrical-parameters").append(alert);
  }else if (type == 2){
    var alert = '<div class="alert alert-danger fade show"><span class="close" data-dismiss="alert">×</span>'+ message + '</div>'
    $("#alert-form-electrical-parameters").append(alert);
  }
}


</script>

</body>
</html>
