<div id="header" class="header navbar-default">
  <!-- begin navbar-header -->
  <div class="navbar-header">
    <a href="/admin/" class="navbar-brand">
      <img src="/static/assets/img/logo.png" width="15%"></img>
      <b>TSInova</b> App
    </a>
    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- end navbar-header -->

  <!-- begin header-nav -->
  <ul class="navbar-nav navbar-right">
    <li class="dropdown navbar-user">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
        <span class="d-none d-md-inline">{{user.name}}</span> <b class="caret"></b>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="javascript:;" class="dropdown-item">Editar Perfil</a>
        <a href="javascript:;" class="dropdown-item">Configurações</a>
        <div class="dropdown-divider"></div>
        <a href="/admin/logout" class="dropdown-item">Sair</a>
      </div>
    </li>
  </ul>
  <!-- end header navigation right -->
</div>
