<!DOCTYPE html>
<html lang="pt">
<head>

	<meta charset="utf-8" />
	<title>TSInovaApp - Início</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/style-default.css" rel="stylesheet" />
	<link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/static/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<link href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="/static/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="/static/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />


	<link href="/static/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />

	<link href="/static/assets/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media='print' />
	<link href="/static/assets/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />

	<link href="/static/assets/fonts/icomoon/style.css" rel="stylesheet" />

	<style>

	.widget{

	}

	.widget-stats .stats-title {
		color: rgba(255,255,255,.9) !important;
	}

	.widget-stats .stats-desc, .widget-stats .stats-title {
		color: rgba(255,255,255,.9) !important;
	}

	.modal-lg {
		max-width: 60% !important;
	}

	</style>

</head>

<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		{% include "/admin/header.html" %}
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image">
								<i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
							</div>
							<div class="info">
								<b class="caret pull-right"></b>
								{{user.name}}
								<small>TSInova App</small>
							</div>
						</a>
					</li>
					<li>
						<ul class="nav nav-profile">
							<li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Editar Perfil</a></li>
							<li><a href="javascript:;"><i class="fa fa-cog"></i> Configurações</a></li>
							<li><a href="/admin/logout"><i class="fas fa-lg fa-fw m-r-10 fa-power-off"></i> Sair</a></li>
						</ul>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">

					<li class="nav-header">Menu</li>

					<li class="active">
						<a href="/admin/">
							<i class="fa fa-th-large"></i>
							<span>Início</span>
						</a>
					</li>

					<li>
						<a href="/admin/racks">
							<i class="fas fa-lg fa-fw m-r-10 fa-table"></i>
							<span>Racks</span>
						</a>
					</li>

					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-play-circle"></i>
							<span>Simulação</span>
						</a>
						<ul class="sub-menu">
							<li><a href="/admin/simulation/install-server">Instalação de servidor</a></li>
							<li><a href="/admin/simulation/future">Futura</a></li>
						</ul>
					</li>

					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fa fa-cogs"></i>
							<span>Configurações</span>
						</a>
						<ul class="sub-menu">
							<li><a href="/admin/general">Geral</a></li>
							<li><a href="/admin/users">Usuários</a></li>
							<li><a href="/admin/servers">Servidores</a></li>
						</ul>
					</li>
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->

		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item active">Início</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Dashboard <small></small></h1>
			<!-- end page-header -->

			<!-- begin panel -->
			<div class="panel panel-inverse" style="background: #d9e0e7">

				<form method="GET" id="form-building">

					<div class="row row-space-30">

						<div class="col-sm-12 col-lg-12" style="margin-bottom: 10px; display: flex;">
							<label class="col-form-label">PRÉDIO:</label>
							<select class="form-control" name="building" style="width: 200px;margin-left: 10px;">
								<option value="">Todos</option>
								{% for index, building in enumerate(buildings) %}
								{% if building_selected is defined and building_selected.id_building == building.id_building%}
								<option value="{{building.id_building}}" selected>{{building.name}}</option>
								{% else %}
								<option value="{{building.id_building}}">{{building.name}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>

						<div class="col-sm-6 col-lg-6">

							<div class="m-b-10 f-s-10 m-t-10">
								<b class="text-inverse">TOTAL DE EQUIPAMENTOS E RACKS</b>
							</div>
							<div class="row row-space-10 m-b-20">
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-teal m-b-10">
										<div class="stats-icon"><i class="fa icon-server fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">SERVIDORES</div>
											<div class="stats-number">{{building_details.qtd_servers}}</div>
											<div class="stats-desc">Total de servidores instalados</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-blue m-b-10">
										<div class="stats-icon"><i class="fa icon-switch fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">SWITCHS</div>
											<div class="stats-number">{{building_details.qtd_switchs}}</div>
											<div class="stats-desc">Total de switchs instalados</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-purple m-b-10">
										<div class="stats-icon"><i class="fa icon-switch fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">PATH PANELS</div>
											<div class="stats-number">{{building_details.qtd_pathpanels}}</div>
											<div class="stats-desc">Total de path panels instalados</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-black m-b-10">
										<div class="stats-icon"><i class="fa icon-blade fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">BLADES</div>
											<div class="stats-number">{{building_details.qtd_blades}}</div>
											<div class="stats-desc">Total de blades instalados</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-orange m-b-10">
										<div class="stats-icon"><i class="fa icon-server fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">SERVIDORES DE BLADE</div>
											<div class="stats-number">{{building_details.qtd_servers_blades}}</div>
											<div class="stats-desc">Total de servidores  de blade instalados</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-teal m-b-10">
										<div class="stats-icon"><i class="fa icon-rack fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">RACKS</div>
											<div class="stats-number">{{building_details.qtd_racks}}</div>
											<div class="stats-desc">Total de racks instalados</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
							</div>

						</div>

						<div class="col-sm-6 col-lg-6">

							<!-- portas -->
							<div class="m-b-10 f-s-10 m-t-10">
								<b class="text-inverse">PORTAS</b>
							</div>
							<div class="row row-space-10 m-b-20">
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-teal m-b-10">
										<div class="stats-icon"><i class="fa icon-port fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">COBRE</div>
											<div class="stats-number">{{replaceNumAndConvertString(building_details.qtd_ports_copper_used, '.', ',')}}%</div>
											<div class="stats-progress progress">
												<div class="progress-bar" style="width: {{building_details.qtd_ports_copper_used}}%;"></div>
											</div>
											<div class="stats-desc">Portas de cobre em uso ({{replaceNumAndConvertString(building_details.qtd_ports_copper_used, '.', ',')}}%)</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-blue m-b-10">
										<div class="stats-icon"><i class="fa icon-port fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">FIBRA</div>
											<div class="stats-number">{{replaceNumAndConvertString(building_details.qtd_ports_fiber_used, '.', ',')}}%</div>
											<div class="stats-progress progress">
												<div class="progress-bar" style="width: {{building_details.qtd_ports_fiber_used}}%;"></div>
											</div>
											<div class="stats-desc">Portas de fibra em uso ({{replaceNumAndConvertString(building_details.qtd_ports_fiber_used, '.', ',')}}%)</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-purple m-b-10">
										<div class="stats-icon"><i class="fa icon-port fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">SWITCH</div>
											<div class="stats-number">{{replaceNumAndConvertString(building_details.qtd_ports_switch_used, '.', ',')}}%</div>
											<div class="stats-progress progress">
												<div class="progress-bar" style="width: {{building_details.qtd_ports_switch_used}}%;"></div>
											</div>
											<div class="stats-desc">Portas de switch em uso ({{replaceNumAndConvertString(building_details.qtd_ports_switch_used, '.', ',')}}%)</div>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
							</div>
							<!-- end portas -->

						</div>

					</div>

					<!-- teste -->
					<div class="row row-space-30">


						<div class="col-sm-12 col-lg-12" style="margin-bottom: 20px; display: flex;">
							<label class="col-form-label">SITE: </label>
							<select class="form-control" name="site" style="width: 200px;margin-left: 10px;">
								<option value="">Todos</option>
								{% for index, company in enumerate(companies) %}
								{% if company_selected is defined and company_selected.id_company == company.id_company%}
								<option value="{{company.id_company}}" selected>{{company.name}}</option>
								{% else %}
								<option value="{{company.id_company}}">{{company.name}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>

						{% with errors = get_flashed_messages(category_filter=["message-error"]) %} {% if errors %}
	          <div class="alert alert-danger fade show col-md-12 col-sm-12">
	            <span class="close" data-dismiss="alert">×</span>
	            {%- for msg in errors %} {{ msg }} {% endfor %}
	          </div>
	          {% endif %} {% endwith %}
						
						<div class="col-sm-6 col-lg-6">

							<div class="m-b-10 f-s-10 m-t-10">
								<b class="text-inverse">ORDENS DE SERVIÇO</b>
							</div>

							<div class="row row-space-10 m-b-20">

								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-teal m-b-10">
										<div class="stats-icon"><i class="fa fa-file-alt fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">IMEDIATO</div>
											<div class="stats-number">{{work_orders_immediate | length}}</div>
											<div class="stats-desc">Total de ordens de serviço</div>
										</div>
										<div class="stats-link">
											<a href="#modal-details-work-immediate" data-toggle="modal">Mais detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- end col-4 -->

								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-blue m-b-10">
										<div class="stats-icon"><i class="fa fa-file-alt fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">AGENDADO</div>
											<div class="stats-number">{{work_orders_scheduled | length}}</div>
											<div class="stats-desc">Total de ordens de serviço</div>
										</div>
										<div class="stats-link">
											<a href="#modal-details-work-scheduled" data-toggle="modal">Mais detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-purple m-b-10">
										<div class="stats-icon"><i class="fa fa-file-alt fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">PENDENTE</div>
											<div class="stats-number">{{work_orders_pending | length}}</div>
											<div class="stats-desc">Total de ordens de serviço</div>
										</div>
										<div class="stats-link">
											<a href="#modal-details-work-pending" data-toggle="modal">Mais detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-black m-b-10">
										<div class="stats-icon"><i class="fa fa-file-alt fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">EM ESPERA</div>
											<div class="stats-number">{{work_orders_onhold | length}}</div>
											<div class="stats-desc">Total de ordens de serviço</div>
										</div>
										<div class="stats-link">
											<a href="#modal-details-work-onhold" data-toggle="modal">Mais detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-gradient-orange m-b-10">
										<div class="stats-icon"><i class="fa fa-file-alt fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">CONCLUÍDO</div>
											<div class="stats-number">{{work_orders_completed | length}}</div>
											<div class="stats-desc">Total de ordens de serviço</div>
										</div>
										<div class="stats-link">
											<a href="#modal-details-work-completed" data-toggle="modal">Mais detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- end col-4 -->
								<!-- begin col-4 -->
								<div class="col-lg-6">
									<div class="widget widget-stats bg-red m-b-10">
										<div class="stats-icon"><i class="fa fa-file-alt fa-fw"></i></div>
										<div class="stats-content">
											<div class="stats-title">VENCIDO</div>
											<div class="stats-number">{{work_orders_pastdue | length}}</div>
											<div class="stats-desc">Total de ordens de serviço</div>
										</div>
										<div class="stats-link">
											<a href="#modal-details-work-pastdue" data-toggle="modal">Mais detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- end col-4 -->

							</div>

						</div>

						<div class="col-sm-6 col-lg-6">
							<div id="calendar" class="vertical-box-column calendar"></div>
						</div>

					</div>

				</form>

			</div>
			<!-- end panel -->

			<!-- end panel -->
		</div>
		<!-- end #content -->



		<!-- #modal-dialog -->
		<div class="modal fade" id="modal-details-work-immediate">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<div style="text-align: left;line-height: 0.6;">
							<h4 class="modal-title">Ordens de serviço</h4><br/>
							<span style="font-size: 11px; line-height: 1.5;"><b>Status:</b> Imediato</span>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="table table-striped">
							<table class="table m-b-0">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Tipo de ordem</th>
										<th>Data de início</th>
										<th>Data de término</th>
										<th>Técnico</th>
										<th>Descrição</th>
										<th>Tarefas</th>
									</tr>
								</thead>
								<tbody>
									{% for index, work_order in enumerate(work_orders_immediate) %}
									<tr>
										<td>{{work_order.name}}</td>
										<td>{{work_order.orderTypeName}}</td>
										<td>{{work_order.getDateByString(work_order.dateStart)}}</td>
										<td>{{work_order.getDateByString(work_order.dateEnd)}}</td>
										<td>{{work_order.technician}}</td>
										<td>{{work_order.description}}</td>
										<td class="center_horizontal">

											<div class="btn-group">
												<a href="#" class="btn btn-xs btn-primary m-r-5 dropdown-toggle"
												data-toggle="dropdown">Tarefas</a>
												<div class="dropdown-menu pull-right" style="padding: 0px !important">
													<div class="table table-striped" style="margin: 0px !important">
														<table class="table m-b-0">
															<thead>
																<tr>
																	<th>Nome</th>
																	<th>Descrição</th>
																	<th>Status</th>
																	<th>Tipo</th>
																</tr>
															</thead>
															<tbody>
																{% for index, task in enumerate(work_order.tasks) %}
																<tr>
																	<td>{{task.name}}</td>
																	<td>{{task.description}}</td>
																	<td>{{task.taskStatusName}}</td>
																	<td>{{task.taskTypeName}}</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>

										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-success" data-dismiss="modal">Fechar</a>
					</div>
				</div>
				<!-- end modal-content -->
			</div>
		</div>


		<!-- #modal-dialog -->
		<div class="modal fade" id="modal-details-work-scheduled">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<div style="text-align: left;line-height: 0.6;">
							<h4 class="modal-title">Ordens de serviço</h4><br/>
							<span style="font-size: 11px; line-height: 1.5;"><b>Status:</b> Agendado</span>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="table table-striped">
							<table class="table m-b-0">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Tipo de ordem</th>
										<th>Data de início</th>
										<th>Data de término</th>
										<th>Técnico</th>
										<th>Descrição</th>
										<th>Tarefas</th>
									</tr>
								</thead>
								<tbody>
									{% for index, work_order in enumerate(work_orders_scheduled) %}
									<tr>
										<td>{{work_order.name}}</td>
										<td>{{work_order.orderTypeName}}</td>
										<td>{{work_order.getDateByString(work_order.dateStart)}}</td>
										<td>{{work_order.getDateByString(work_order.dateEnd)}}</td>
										<td>{{work_order.technician}}</td>
										<td>{{work_order.description}}</td>
										<td class="center_horizontal">

											<div class="btn-group">
												<a href="#" class="btn btn-xs btn-primary m-r-5 dropdown-toggle"
												data-toggle="dropdown">Tarefas</a>
												<div class="dropdown-menu pull-right" style="padding: 0px !important">
													<div class="table table-striped" style="margin: 0px !important">
														<table class="table m-b-0">
															<thead>
																<tr>
																	<th>Nome</th>
																	<th>Descrição</th>
																	<th>Status</th>
																	<th>Tipo</th>
																</tr>
															</thead>
															<tbody>
																{% for index, task in enumerate(work_order.tasks) %}
																<tr>
																	<td>{{task.name}}</td>
																	<td>{{task.description}}</td>
																	<td>{{task.taskStatusName}}</td>
																	<td>{{task.taskTypeName}}</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>

										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-success" data-dismiss="modal">Fechar</a>
					</div>
				</div>
				<!-- end modal-content -->
			</div>
		</div>


		<!-- #modal-dialog -->
		<div class="modal fade" id="modal-details-work-pending">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<div style="text-align: left;line-height: 0.6;">
							<h4 class="modal-title">Ordens de serviço</h4><br/>
							<span style="font-size: 11px; line-height: 1.5;"><b>Status:</b> Pendente</span>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="table table-striped">
							<table class="table m-b-0">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Tipo de ordem</th>
										<th>Data de início</th>
										<th>Data de término</th>
										<th>Técnico</th>
										<th>Descrição</th>
										<th>Tarefas</th>
									</tr>
								</thead>
								<tbody>
									{% for index, work_order in enumerate(work_orders_pending) %}
									<tr>
										<td>{{work_order.name}}</td>
										<td>{{work_order.orderTypeName}}</td>
										<td>{{work_order.getDateByString(work_order.dateStart)}}</td>
										<td>{{work_order.getDateByString(work_order.dateEnd)}}</td>
										<td>{{work_order.technician}}</td>
										<td>{{work_order.description}}</td>
										<td class="center_horizontal">

											<div class="btn-group">
												<a href="#" class="btn btn-xs btn-primary m-r-5 dropdown-toggle"
												data-toggle="dropdown">Tarefas</a>
												<div class="dropdown-menu pull-right" style="padding: 0px !important">
													<div class="table table-striped" style="margin: 0px !important">
														<table class="table m-b-0">
															<thead>
																<tr>
																	<th>Nome</th>
																	<th>Descrição</th>
																	<th>Status</th>
																	<th>Tipo</th>
																</tr>
															</thead>
															<tbody>
																{% for index, task in enumerate(work_order.tasks) %}
																<tr>
																	<td>{{task.name}}</td>
																	<td>{{task.description}}</td>
																	<td>{{task.taskStatusName}}</td>
																	<td>{{task.taskTypeName}}</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>

										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-success" data-dismiss="modal">Fechar</a>
					</div>
				</div>
				<!-- end modal-content -->
			</div>
		</div>


		<!-- #modal-dialog -->
		<div class="modal fade" id="modal-details-work-onhold">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<div style="text-align: left;line-height: 0.6;">
							<h4 class="modal-title">Ordens de serviço</h4><br/>
							<span style="font-size: 11px; line-height: 1.5;"><b>Status:</b> Em espera</span>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="table table-striped">
							<table class="table m-b-0">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Tipo de ordem</th>
										<th>Data de início</th>
										<th>Data de término</th>
										<th>Técnico</th>
										<th>Descrição</th>
										<th>Tarefas</th>
									</tr>
								</thead>
								<tbody>
									{% for index, work_order in enumerate(work_orders_onhold) %}
									<tr>
										<td>{{work_order.name}}</td>
										<td>{{work_order.orderTypeName}}</td>
										<td>{{work_order.getDateByString(work_order.dateStart)}}</td>
										<td>{{work_order.getDateByString(work_order.dateEnd)}}</td>
										<td>{{work_order.technician}}</td>
										<td>{{work_order.description}}</td>
										<td class="center_horizontal">

											<div class="btn-group">
												<a href="#" class="btn btn-xs btn-primary m-r-5 dropdown-toggle"
												data-toggle="dropdown">Tarefas</a>
												<div class="dropdown-menu pull-right" style="padding: 0px !important">
													<div class="table table-striped" style="margin: 0px !important">
														<table class="table m-b-0">
															<thead>
																<tr>
																	<th>Nome</th>
																	<th>Descrição</th>
																	<th>Status</th>
																	<th>Tipo</th>
																</tr>
															</thead>
															<tbody>
																{% for index, task in enumerate(work_order.tasks) %}
																<tr>
																	<td>{{task.name}}</td>
																	<td>{{task.description}}</td>
																	<td>{{task.taskStatusName}}</td>
																	<td>{{task.taskTypeName}}</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>

										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-success" data-dismiss="modal">Fechar</a>
					</div>
				</div>
				<!-- end modal-content -->
			</div>
		</div>


		<!-- #modal-dialog -->
		<div class="modal fade" id="modal-details-work-completed">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<div style="text-align: left;line-height: 0.6;">
							<h4 class="modal-title">Ordens de serviço</h4><br/>
							<span style="font-size: 11px; line-height: 1.5;"><b>Status:</b> Completado</span>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="table table-striped">
							<table class="table m-b-0">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Tipo de ordem</th>
										<th>Data de início</th>
										<th>Data de término</th>
										<th>Técnico</th>
										<th>Descrição</th>
										<th>Tarefas</th>
									</tr>
								</thead>
								<tbody>
									{% for index, work_order in enumerate(work_orders_completed) %}
									<tr>
										<td>{{work_order.name}}</td>
										<td>{{work_order.orderTypeName}}</td>
										<td>{{work_order.getDateByString(work_order.dateStart)}}</td>
										<td>{{work_order.getDateByString(work_order.dateEnd)}}</td>
										<td>{{work_order.technician}}</td>
										<td>{{work_order.description}}</td>
										<td class="center_horizontal">

											<div class="btn-group">
												<a href="#" class="btn btn-xs btn-primary m-r-5 dropdown-toggle"
												data-toggle="dropdown">Tarefas</a>
												<div class="dropdown-menu pull-right" style="padding: 0px !important">
													<div class="table table-striped" style="margin: 0px !important">
														<table class="table m-b-0">
															<thead>
																<tr>
																	<th>Nome</th>
																	<th>Descrição</th>
																	<th>Status</th>
																	<th>Tipo</th>
																</tr>
															</thead>
															<tbody>
																{% for index, task in enumerate(work_order.tasks) %}
																<tr>
																	<td>{{task.name}}</td>
																	<td>{{task.description}}</td>
																	<td>{{task.taskStatusName}}</td>
																	<td>{{task.taskTypeName}}</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>

										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-success" data-dismiss="modal">Fechar</a>
					</div>
				</div>
				<!-- end modal-content -->
			</div>
		</div>


		<!-- #modal-dialog -->
		<div class="modal fade" id="modal-details-work-pastdue">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<div style="text-align: left;line-height: 0.6;">
							<h4 class="modal-title">Ordens de serviço</h4><br/>
							<span style="font-size: 11px; line-height: 1.5;"><b>Status:</b> Vencido</span>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="table table-striped">
							<table class="table m-b-0">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Tipo de ordem</th>
										<th>Data de início</th>
										<th>Data de término</th>
										<th>Técnico</th>
										<th>Descrição</th>
										<th>Tarefas</th>
									</tr>
								</thead>
								<tbody>
									{% for index, work_order in enumerate(work_orders_pastdue) %}
									<tr>
										<td>{{work_order.name}}</td>
										<td>{{work_order.orderTypeName}}</td>
										<td>{{work_order.getDateByString(work_order.dateStart)}}</td>
										<td>{{work_order.getDateByString(work_order.dateEnd)}}</td>
										<td>{{work_order.technician}}</td>
										<td>{{work_order.description}}</td>
										<td class="center_horizontal">

											<div class="btn-group">
												<a href="#" class="btn btn-xs btn-primary m-r-5 dropdown-toggle"
												data-toggle="dropdown">Tarefas</a>
												<div class="dropdown-menu pull-right" style="padding: 0px !important">
													<div class="table table-striped" style="margin: 0px !important">
														<table class="table m-b-0">
															<thead>
																<tr>
																	<th>Nome</th>
																	<th>Descrição</th>
																	<th>Status</th>
																	<th>Tipo</th>
																</tr>
															</thead>
															<tbody>
																{% for index, task in enumerate(work_order.tasks) %}
																<tr>
																	<td>{{task.name}}</td>
																	<td>{{task.description}}</td>
																	<td>{{task.taskStatusName}}</td>
																	<td>{{task.taskTypeName}}</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>

										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-success" data-dismiss="modal">Fechar</a>
					</div>
				</div>
				<!-- end modal-content -->
			</div>
		</div>


		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="/static/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="/static/assets/js/theme/default.min.js"></script>
	<script src="/static/assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<script src="/static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/static/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="/static/assets/plugins/bootstrap-daterangepicker/moment.js"></script>
	<script src="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="/static/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

	<script src="/static/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
	<script src="/static/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<script src="/static/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

	<script src="/static/assets/plugins/fullcalendar/lib/moment.min.js"></script>
	<script src="/static/assets/plugins/fullcalendar/fullcalendar.js"></script>
	<script src='/static/assets/plugins/fullcalendar/lang/pt-br.js'></script>

	<script>
	$(document).ready(function() {
		App.init();

		$("#form-building select[name='building'], #form-building select[name='site']").change(function() {
			$("#form-building").submit();
		});

		$('.input-daterange').datepicker({
			todayHighlight: true,
			format: 'dd/mm/yyyy'
		});

		dateStart = new Date(1534993200000);
		dateEnd = new Date(1534993200000);

		$('#calendar').fullCalendar({
			header: {
				left: 'month,agendaWeek,agendaDay',
				center: 'title',
				right: 'prev,today,next '
			},
			locale: 'pt-br',
			timeFormat: 'HH:mm' // uppercase H for 24-hour clock
		});

		String.prototype.replaceAll = function(search, replacement) {
			var target = this;
			return target.replace(new RegExp(search, 'g'), replacement);
		};

		var events = JSON.parse('{{work_orders_events_json}}'.replaceAll('u&#39;',"\"").replaceAll('&#39;',"\"").trim());

		function getColorEventByStatus(status){
			switch (status) {
				case 1:
					return "#34babb";
				case 2:
					return "#4788de";
				case 3:
					return "#7c65da";
				case 4:
					return "#454e56";
				case 5:
					return "#f7a83a";
				case 6:
					return "#f35856";
				default:
					return "";
			}
		}

		for (var i = 0; i < events.length; i++) {
			var event = events[i];
			$('#calendar').fullCalendar('renderEvent', {
				title: event.title,
				start: new Date(event.start),
				color: getColorEventByStatus(event.status),
				end: new Date(event.end)
			}, true);
		}

	});


	function closeModal(modal){
		$("#"+modal).modal('toggle');
	}

</script>

</body>
</html>
