<!DOCTYPE html>
<html lang="pt">
<head>

  <meta charset="utf-8" />
  <title>TSInovaApp - Simulação de instalação de servidor</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-default.css" rel="stylesheet" />
  <link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->

  <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
  <link href="/static/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
  <link href="/static/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
  <link href="/static/assets/plugins/flexdatalist/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
  <!-- ================== END PAGE LEVEL STYLE ================== -->

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/static/assets/plugins/pace/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->

  <style>
  .card-header{
    background: #e8e6e6 !important;
    color: #5f5f5f !important;
  }
  .card-body{
    border: 1px solid #efe8e8 !important;
  }
  .info_rack{
    color: #242a30;
    font-weight: 600;
  }
  </style>

</head>

<body>
  <!-- begin #page-loader -->
  <div id="page-loader" class="fade show"><span class="spinner"></span></div>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    {% include "/admin/header.html" %}
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <a href="javascript:;" data-toggle="nav-profile">
              <div class="cover with-shadow"></div>
              <div class="image">
                <i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
              </div>
              <div class="info">
                <b class="caret pull-right"></b>
                {{user.name}}
                <small>TSInova App</small>
              </div>
            </a>
          </li>
          <li>
            <ul class="nav nav-profile">
              <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Editar Perfil</a></li>
              <li><a href="javascript:;"><i class="fa fa-cog"></i> Configurações</a></li>
              <li><a href="/admin/logout"><i class="fas fa-lg fa-fw m-r-10 fa-power-off"></i> Sair</a></li>
            </ul>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">

          <li class="nav-header">Menu</li>

          <li>
            <a href="/admin/">
              <i class="fa fa-th-large"></i>
              <span>Início</span>
            </a>
          </li>

          <li>
            <a href="/admin/racks">
              <i class="fas fa-lg fa-fw m-r-10 fa-table"></i>
              <span>Racks</span>
            </a>
          </li>

          <li class="has-sub active">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fas fa-lg fa-fw m-r-10 fa-play-circle"></i>
              <span>Simulação</span>
            </a>
            <ul class="sub-menu">
              <li class="active"><a href="/admin/simulation/install-server">Instalação de servidor</a></li>
              <li><a href="/admin/simulation/future">Futura</a></li>
            </ul>
          </li>

          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fa fa-cogs"></i>
              <span>Configurações</span>
            </a>
            <ul class="sub-menu">
              <li><a href="/admin/general">Geral</a></li>
              <li><a href="/admin/users">Usuários</a></li>
              <li><a href="/admin/servers">Servidores</a></li>
            </ul>
          </li>
          <!-- begin sidebar minify button -->
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
          <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
      <!-- begin breadcrumb -->
      <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
        <li class="breadcrumb-item active">Instalação de servidor</li>
      </ol>
      <!-- end breadcrumb -->
      <!-- begin page-header -->
      <h1 class="page-header">Instalação de servidor <small> simulação de instalação de servidor nos racks</small></h1>
      <!-- end page-header -->

      <!-- begin panel -->
      <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
          </div>
          <h4 class="panel-title">Instalação de servidor - Simulação</h4>
        </div>
        <!-- end panel-heading -->

        <!-- begin panel-body -->
        <div class="panel-body" id="form-use-server">

          {% with errors = get_flashed_messages(category_filter=["message-info"]) %} {% if errors %}
          <div class="alert alert-info fade show col-md-12 col-sm-12">
            <span class="close" data-dismiss="alert">×</span>
            {%- for msg in errors %} {{ msg }} {% endfor %}
          </div>
          {% endif %} {% endwith %}

          {% with errors = get_flashed_messages(category_filter=["message-error"]) %} {% if errors %}
          <div class="alert alert-danger fade show col-md-12 col-sm-12">
            <span class="close" data-dismiss="alert">×</span>
            {%- for msg in errors %} {{ msg }} {% endfor %}
          </div>
          {% endif %} {% endwith %}

          {% with errors = get_flashed_messages(category_filter=["message-success"]) %} {% if errors %}
          <div class="alert alert-lime fade show m-b-10">
            <span class="close" data-dismiss="alert">×</span>
            {%- for msg in errors %} {{ msg }} {% endfor %}
          </div>
          {% endif %} {% endwith %}

          <form method="GET" id="form-simulation">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-6">
                <div class="col-md-12"><label>Servidor:</label></div>
                <div class="col-md-12">
                  <select class="form-control" name="servers_simulation" style="margin-left: 10px;margin-right: 10px;">
                    <option value="0">Selecione</option>
                    {% for index,server in enumerate(servers_simulation) %}
                    {% if server_simulation_selected and server_simulation_selected.id_server_simulation == server.id_server_simulation %}
                    <option value="{{server.id_server_simulation}}" selected>{{server.toString()}}</option>
                    {% else %}
                    <option value="{{server.id_server_simulation}}">{{server.toString()}}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12"><label>Prédio:</label></div>
                <div class="col-md-12">
                  <input type='text'
                  class='form-control flexdatalist buildings'
                  data-min-length='1'
                  multiple='multiple'
                  value="{{building_selected or ''}}"
                  list='list_buildings'
                  data-value-property='value'
                  name='buildings'/>
                </div>
                <div class="col-md-12" style="text-align: right;margin-top: 10px;">
                  <input type="submit" name="action" class="btn btn-success button-action-simulation" value="Simular"/>
                  <a href="#modal-form-form-add" id="open-form-add" data-toggle="modal" class="btn btn-success">Novo servidor</a>
                  <input type="submit" name="action" class="btn btn-danger button-action-simulation" value="Remover"/>
                </div>
              </div>
            </div>
          </form>

          {% if list_racks_available is defined and list_racks_limiting is defined and list_racks_not_participate_calculation is defined %}

          <div id="accordion" class="card-accordion">
            <!-- begin card -->
            <div class="card">
              <div class="card-header bg-black text-white pointer-cursor" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                Racks disponiveis para instalação do servidor
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion" style="">
                <div class="card-body">

                  <div id="alert-install-server">
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="col-md-12"><label>Prédio:</label></div>
                      <div class="col-md-12">
                        <select class="form-control" id="building-search-table-simulation">
                          <option value="">Todos</option>
                          {% for building in buildings %}
                          <option value="{{building.name}}">{{building.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="col-md-12"><label>Rack:</label></div>
                      <div class="col-md-12">
                        <input type="text" placeholder="Pesquisar" id="rack-search-table-simulation" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="col-md-12"><label>Exibir:</label></div>
                      <div class="col-md-12">
                        <select class="form-control" id="exibir-search-table-simulation">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                    </div>
                  </div>


                  <table id="table-simulation" class="table table-striped table-bordered">

                    <thead>
                      <tr>
                        <th width="1%"></th>
                        <th width="1%" data-orderable="false"></th>
                        <th width="50%" class="text-nowrap">Rack</th>
                        <th class="text-nowrap">Índice (antes da instalação)</th>
                        <th class="text-nowrap">Índice (após a instalação)</th>
                        <th class="text-nowrap">Mais informações</th>
                        <th class="text-nowrap">Prédio</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for index,obj in enumerate(list_racks_available) %}
                      <tr class="gradeA">
                        <td width="1%" class="f-s-600 text-inverse center_horizontal">{{index+1}}</td>
                        <td width="1%" class="with-img center_horizontal"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
                        <td>
                          {{obj[0].name_rack}}<br/>
                          <span style="font-size: 11px;"><b>Local Instalação:</b> {{obj[0].local_installation}}</span>
                        </td>

                        {% if obj[0].getStandardDeviation() > 0 %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj[0].getStandardDeviation())}}">{{obj[0].getStandardDeviation()}}</span></td>
                        {% else %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj[0].getStandardDeviation())}}">0.000000</span></td>
                        {% endif %}

                        {% if obj[1].getStandardDeviation() > 0 %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj[1].getStandardDeviation())}}">{{obj[1].getStandardDeviation()}}</span></td>
                        {% else %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj[1].getStandardDeviation())}}">0.000000</span></td>
                        {% endif %}

                        <td class="center_horizontal">

                          <div style="display: flex !important;">

                            <a href="#modal-details-rack{{obj[0].id_rack}}"
                            data-toggle="modal"
                            class="btn btn-xs btn-primary m-r-5">Mais informações</a>

                            <form method="POST" class="teste">
                              <input type="hidden" name="action" value="install_server">
                              <input type="hidden" name="id_server" value="{{server_simulation_selected.id_server_simulation}}">
                              <input type="hidden" name="id_rack" value="{{obj[0].id_rack}}">
                              <button style="width: 110px !important;" type="submit" name="bt-install" class="btn btn-xs btn-primary m-r-5">
                                Instalar servidor
                              </button>
                            </form>

                          </div>

                          <!-- #modal-dialog -->
                          <div class="modal fade" id="modal-details-rack{{obj[0].id_rack}}">

                            <div class="modal-dialog">
                              <div class="modal-content">

                                <div class="modal-header">
                                  <div style="text-align: left;line-height: 0.6;">
                                    <h4 class="modal-title">{{obj[0].name_rack}}</h4><br/>
                                    <span style="font-size: 11px; line-height: 1.5;"><b>Local Instalação:</b> {{obj[0].local_installation}}</span>
                                  </div>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>

                                <div class="modal-body">

                                  <div class="table-responsive">
                                    <table class="table m-b-0">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Antes da instalação</th>
                                          <th>Após instalação</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <!-- ......................... US .............................. -->
                                        <tr>
                                          <td class="info_rack">Us</td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if obj[0].total_ru > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(1, obj[0].getUsUsagePorcentage())}}" style="width: {{obj[0].getUsUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[0].getUsUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if obj[1].total_ru > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(1, obj[1].getUsUsagePorcentage())}}" style="width: {{obj[1].getUsUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[1].getUsUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                        </tr>

                                        <!-- ......................... Switch .............................. -->
                                        <tr>
                                          <td class="info_rack">Switch</td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if (obj[0].qtd_ports_switch_available + obj[0].qtd_ports_switch_used) > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(7, obj[0].getQtdPortsSwitchUsagePorcentage())}}" style="width: {{obj[0].getQtdPortsSwitchUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[0].getQtdPortsSwitchUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if (obj[1].qtd_ports_switch_available + obj[1].qtd_ports_switch_used) > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(7, obj[1].getQtdPortsSwitchUsagePorcentage())}}" style="width: {{obj[1].getQtdPortsSwitchUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[1].getQtdPortsSwitchUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                        </tr>

                                        <!-- ......................... Cobre .............................. -->
                                        <tr>
                                          <td class="info_rack">Cobre</td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if (obj[0].qtd_ports_copper_available + obj[0].qtd_ports_copper_used) > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(2, obj[0].getQtdPortsCopperUsagePorcentage())}}" style="width: {{obj[0].getQtdPortsCopperUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[0].getQtdPortsCopperUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if (obj[1].qtd_ports_copper_available + obj[1].qtd_ports_copper_used) > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(2, obj[1].getQtdPortsCopperUsagePorcentage())}}" style="width: {{obj[1].getQtdPortsCopperUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[1].getQtdPortsCopperUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                        </tr>

                                        <!-- ......................... Fibra .............................. -->
                                        <tr>
                                          <td class="info_rack">Fibra</td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if (obj[0].qtd_ports_fiber_available + obj[0].qtd_ports_fiber_used) > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(3, obj[0].getQtdPortsFiberUsagePorcentage())}}" style="width: {{obj[0].getQtdPortsFiberUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[0].getQtdPortsFiberUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if (obj[1].qtd_ports_fiber_available + obj[1].qtd_ports_fiber_used) > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(3, obj[1].getQtdPortsFiberUsagePorcentage())}}" style="width: {{obj[1].getQtdPortsFiberUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[1].getQtdPortsFiberUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                        </tr>

                                        <!-- ......................... Potência .............................. -->
                                        <tr>
                                          <td class="info_rack">Potência</td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if obj[0].potency_watts_limit > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(4, obj[0].getPotencyUsagePorcentage())}}" style="width: {{obj[0].getPotencyUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[0].getPotencyUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if obj[1].potency_watts_limit > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(4, obj[1].getPotencyUsagePorcentage())}}" style="width: {{obj[1].getPotencyUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[1].getPotencyUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                        </tr>

                                        <!-- ......................... Tomada .............................. -->
                                        <tr>
                                          <td class="info_rack">Tomada</td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if obj[0].electrical_sockets_limit > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(5, obj[0].getElectricalSocketsUsagePorcentage())}}" style="width: {{obj[0].getElectricalSocketsUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[0].getElectricalSocketsUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                          <td class="center_horizontal">
                                            <div class="stats-content" style="width: 60px;display: inline-block;">
                                              {% if obj[1].electrical_sockets_limit > 0 %}
                                              <div class="stats-progress progress" style="height: 5px;">
                                                <div class="progress-bar {{getClassRange(5, obj[1].getElectricalSocketsUsagePorcentage())}}" style="width: {{obj[1].getElectricalSocketsUsagePorcentage()}}%;"></div>
                                              </div>
                                              <div class="stats-desc" style="text-align: center;">{{obj[1].getElectricalSocketsUsagePorcentage()}}%</div>
                                              {% else %}
                                              N/C
                                              {% endif %}
                                            </div>
                                          </td>
                                        </tr>

                                      </tbody>
                                    </table>
                                  </div>

                                </div>

                                <div class="modal-footer">
                                  <a href="javascript:;" class="btn btn-success" data-dismiss="modal">Fechar</a>
                                </div>

                              </div>
                              <!-- end modal-content -->

                            </div>

                          </div>

                        </td>
                        <td>{{obj[0].name_building}}</td>

                      </tr>

                      {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end card -->
            <!-- begin card -->
            <div class="card">
              <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                Racks com limitações para instalação do servidor
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                <div class="card-body">
                  <table id="table-simulation-limiting" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="1%"></th>
                        <th width="1%" data-orderable="false"></th>
                        <th class="text-nowrap">Rack</th>
                        <th class="text-nowrap">Índice</th>
                        <th class="text-nowrap">Us</th>
                        <th class="text-nowrap">P.C</th>
                        <th class="text-nowrap">P.F</th>
                        <th class="text-nowrap">Potência</th>
                        <th class="text-nowrap">Tomada</th>
                        <!--<th class="text-nowrap">Prédio</th>-->
                      </tr>
                    </thead>
                    <tbody>

                      {% for index,obj in enumerate(list_racks_limiting) %}
                      <tr class="gradeA">
                        <td width="1%" class="f-s-600 text-inverse center_horizontal">{{index+1}}</td>
                        <td width="1%" class="with-img center_horizontal"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
                        <td>
                          {{obj.name_rack}}<br/>
                          <span style="font-size: 11px;"><b>Local Instalação:</b> {{obj.local_installation}}</span>
                        </td>

                        {% if obj.getStandardDeviation() > 0 %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj.getStandardDeviation())}}">{{obj.getStandardDeviation()}}</span></td>
                        {% else %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj.getStandardDeviation())}}">0.000000</span></td>
                        {% endif %}

                        <td class="center_horizontal">{% if obj.limiting.us %} <i class="fas fa-lg fa-fw m-r-10 fa-times limiting_red"></i> {% else %} <i class="fas fa-lg fa-fw m-r-10 fa-check limiting_green"></i> {% endif %}</td>
                        <td class="center_horizontal">{% if obj.limiting.ports_copper %} <i class="fas fa-lg fa-fw m-r-10 fa-times limiting_red"></i> {% else %} <i class="fas fa-lg fa-fw m-r-10 fa-check limiting_green"></i> {% endif %}</td>
                        <td class="center_horizontal">{% if obj.limiting.ports_fiber %} <i class="fas fa-lg fa-fw m-r-10 fa-times limiting_red"></i> {% else %} <i class="fas fa-lg fa-fw m-r-10 fa-check limiting_green"></i> {% endif %}</td>
                        <td class="center_horizontal">{% if obj.limiting.potency %} <i class="fas fa-lg fa-fw m-r-10 fa-times limiting_red"></i> {% else %} <i class="fas fa-lg fa-fw m-r-10 fa-check limiting_green"></i> {% endif %}</td>
                        <td class="center_horizontal">{% if obj.limiting.electrical %} <i class="fas fa-lg fa-fw m-r-10 fa-times limiting_red"></i> {% else %} <i class="fas fa-lg fa-fw m-r-10 fa-check limiting_green"></i> {% endif %}</td>
                        <!--<td>{{obj.name_building}}</td>-->
                      </tr>
                      {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end card -->
            <!-- begin card -->
            <div class="card">
              <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                Racks que não participam dos cálculos
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                <div class="card-body">
                  <table id="table-racks-not-participate-calculation" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th width="1%"></th>
                        <th width="1%" data-orderable="false"></th>
                        <th class="text-nowrap">Rack</th>
                        <!--<th class="text-nowrap">Prédio</th>-->
                      </tr>
                    </thead>
                    <tbody>

                      {% for index,obj in enumerate(list_racks_not_participate_calculation) %}
                      <tr class="gradeA">
                        <td width="1%" class="f-s-600 text-inverse center_horizontal">{{index+1}}</td>
                        <td width="1%" class="with-img center_horizontal"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
                        <td>
                          {{obj.name}}<br/>
                          <span style="font-size: 11px;"><b>Local Instalação:</b> {{obj.getLocalInstallation()}}</span>
                        </td>
                        <!--<td>{{obj.room.floor.building.name}}</td>-->
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>

          {% endif %}


        </div>
        <!-- end panel-body -->
      </div>
      <!-- end panel -->

      <!-- end panel -->
    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
  </div>
  <!-- end page container -->

  <datalist id="list_velocity">
    {% for index,velocity in enumerate(list_velocity) %}
    <option value="{{velocity}}">{{velocity}}</option>
    {% endfor %}
  </datalist>

  <datalist id="list_vlan">
    {% for index,vlan in enumerate(list_vlan) %}
    <option value="{{vlan}}">{{vlan}}</option>
    {% endfor %}
  </datalist>

  <!-- #modal-dialog -->
  <div class="modal fade" id="modal-form-form-add">

    <div class="modal-dialog">
      <div class="modal-content">

        <form id="form-add" onsubmit="wait(this)" class="form-horizontal" method="POST" data-parsley-validate="true">

          <input type="hidden" name="action" value="add">

          <div class="modal-header">
            <h4 class="modal-title">Novo servidor</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>

          <div class="modal-body" style="overflow-y: scroll; height: 400px;">

            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label" for="name">Nome * :</label>
              <div class="col-md-9 col-sm-9">
                <input class="form-control" type="text" id="name" name="name" placeholder="Informe o nome" data-parsley-required="true" autofocus />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label" for="us">Us * :</label>
              <div class="col-md-9 col-sm-9">
                <input class="form-control" type="text" id="us" name="us" data-parsley-type="digits" placeholder="Quantidade de us" data-parsley-required="false" value="1" />
              </div>
            </div>

            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label" for="ports_fiber">Portas Fibra * :</label>
              <div class="col-md-9 col-sm-9">
                <input class="form-control" type="text" id="ports_fiber" name="ports_fiber" data-parsley-type="digits" placeholder="Quantidade de portas de fibra" data-parsley-required="false" value="0" />
              </div>
            </div>

            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label" for="ports_copper">Portas cobre * :</label>
              <div class="col-md-9 col-sm-9">
                <input class="form-control" type="text" id="ports_copper" name="ports_copper" data-parsley-type="digits" placeholder="Quantidade de portas de cobre" data-parsley-required="false" value="0" />
              </div>
            </div>

            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label" for="potency_watts">Potência * :</label>
              <div class="col-md-9 col-sm-9">
                <input class="form-control" data-parsley-pattern="[0-9.]*" type="text" id="potency_watts" name="potency_watts"  placeholder="Quantidade de potência" data-parsley-required="false" value="0" />
              </div>
            </div>

            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label" for="electrical_sockets">Tomada * :</label>
              <div class="col-md-9 col-sm-9">
                <input class="form-control" data-parsley-type="digits" type="text" id="electrical_sockets" name="electrical_sockets" placeholder="Quantidade de tomadas" data-parsley-required="false" value="0" />
              </div>
            </div>

            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label">Prédio * :</label>
              <div class="col-md-9 col-sm-9">
                <input type='text'
                class='form-control flexdatalist buildings'
                data-min-length='1'
                multiple='multiple'
                list='list_buildings'
                data-value-property='value'
                name='buildings'/>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <div class="wait" style="text-align: center; display:none">
              <i class="fas fa-spinner fa-spin" style="font-size: 20px;margin-right: 10px;"></i> Realizando a simulação, aguarde ...
            </div>
            <a href="javascript:;" class="btn btn-white" data-dismiss="modal" id="cancel">Cancelar</a>
            <button href="javascript:;" class="btn btn-success">Adicionar e Simular</button>
          </div>

        </form>

      </div>
      <!-- end modal-content -->

    </div>
  </div>


  {% for index,server in enumerate(servers_simulation) %}

  <!-- #modal-dialog -->
  <a style="display:none" id="open-form-ports-{{server.id_server_simulation}}" href="#modal-form-ports-{{server.id_server_simulation}}" data-toggle="modal" class="btn btn-success"></a>
  <div class="modal fade" id="modal-form-ports-{{server.id_server_simulation}}">

    <div class="modal-dialog">
      <div class="modal-content">

        <form class="form-horizontal" onsubmit="wait(this)" method="POST" data-parsley-validate="true" id="form-ports-{{server.id_server_simulation}}">

          <input type="hidden" name="action" value="simulation">
          <input type="hidden" name="server" value="{{server.id_server_simulation}}">
          <input type="hidden" name="buildings" value="">

          <div class="modal-header">
            <h4 class="modal-title">Portas</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>

          <div class="modal-body" style="overflow-y: scroll; height: 400px;">

            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label" for="ports_fiber">Portas Fibra * :</label>
              <div class="col-md-9 col-sm-9">
                <input class="form-control" type="text" name="ports_fiber" value="{{server.ports_fiber}}" readonly/>
              </div>
            </div>
            <div class="form-group row m-b-15" id="list_ports_fiber">
              {% for index,port in enumerate(server.getPortsByType(1)) %}
              <div class="col-md-12 col-sm-12" style="display: inline-flex;">
                <label class="offset-md-3 offset-sm-3 col-md-2 col-sm-2 col-form-label">Porta {{index+1}}:</label>
                <div class="col-md-7 col-sm-7" style="display: inline-flex;">
                  <input type="text" class="form-control" data-min-length="1" value="{{port.velocity or ''}}" placeholder="Velocidade" list="list_velocity" autocomplete="off" name="port_fiber_velocity_{{index+1}}" data-value-property="value">
                  <input type="text" class="form-control" data-min-length="1" value="{{port.vlan or ''}}" placeholder="Vlan" list="list_vlan" autocomplete="off" name="port_fiber_vlan_{{index+1}}" data-value-property="value">
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="form-group row m-b-15">
              <label class="col-md-3 col-sm-3 col-form-label" for="ports_copper">Portas cobre * :</label>
              <div class="col-md-9 col-sm-9">
                <input class="form-control" type="text" name="ports_copper" value="{{server.ports_copper}}" readonly />
              </div>
            </div>
            <div class="form-group row m-b-15" id="list_ports_copper">
              {% for index,port in enumerate(server.getPortsByType(2)) %}
              <div class="col-md-12 col-sm-12" style="display: inline-flex;">
                <label class="offset-md-3 offset-sm-3 col-md-2 col-sm-2 col-form-label">Porta {{index+1}}:</label>
                <div class="col-md-7 col-sm-7" style="display: inline-flex;">
                  <input type="text" class="form-control" data-min-length="1" value="{{port.velocity or ''}}" placeholder="Velocidade" list="list_velocity" autocomplete="off" name="port_copper_velocity_{{index+1}}" data-value-property="value">
                  <input type="text" class="form-control" data-min-length="1" value="{{port.vlan or ''}}" placeholder="Vlan" list="list_vlan" autocomplete="off" name="port_copper_vlan_{{index+1}}" data-value-property="value">
                </div>
              </div>
              {% endfor %}
            </div>

          </div>

          <div class="modal-footer">
            <div class="wait" style="text-align: center; display:none">
              <i class="fas fa-spinner fa-spin" style="font-size: 20px;margin-right: 10px;"></i> Realizando a simulação, aguarde ...
            </div>
            <a href="javascript:;" class="btn btn-white" data-dismiss="modal" id="cancel">Cancelar</a>
            <button href="javascript:;" class="btn btn-success">Simular</button>
          </div>

        </form>

      </div>
      <!-- end modal-content -->

    </div>

  </div>

  {% endfor %}


  <datalist id="list_buildings">
    {% for building in buildings %}
    <option value="{{building.name}}">{{building.name}}</option>
    {% endfor %}
  </datalist>

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
  <script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="/static/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
  <script src="/static/assets/js/theme/default.min.js"></script>
  <script src="/static/assets/js/apps.min.js"></script>
  <!-- ================== END BASE JS ================== -->

  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="/static/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
  <script src="/static/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/assets/plugins/gritter/js/jquery.gritter.js"></script>
  <script src="/static/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
  <script src="/static/assets/plugins/flexdatalist/jquery.flexdatalist.min.js"></script>
  <script src="/static/assets/plugins/parsley/dist/parsley.js"></script>
  <!-- ================== END PAGE LEVEL JS ================== -->

  <script>

  App.init();
  var button_action_simulation;

  $(".button-action-simulation").click(function(){
    button_action_simulation = $(this).attr('value');
  });

  function wait(form){
    var instance = $(form).parsley();
    if (instance.isValid()){
      $(".wait").css("display", "block");
    }
    return true;
  }

  $("#form-simulation").submit(function( event ) {
    if (button_action_simulation == "Remover"){
      button_action_simulation = "";
      return true;
    }
    var values = {};
    $.each($(this).serializeArray(), function(i, field) {
      values[field.name] = field.value;
    });
    var open_form = "#open-form-ports-" + values.servers_simulation;
    var form = "#form-ports-" + values.servers_simulation;
    $(form + " input[name='buildings']").val(values.buildings);
    $(open_form).click();
    button_action_simulation = "";
    return false;
  });


  function alertaFalha(message) {
    swal({
      title: 'Erro',
      text: message,
      icon: 'error',
      confirm: {
        text: 'Ok',
        value: true,
        visible: true,
        className: 'btn btn-primary',
        closeModal: true
      }
    });
    $(".wait").css("display", "none");
  }


  function alertInstallServer(type, message){
    $("#alert-install-server").empty();
    if (type == 1){
      var alert = '<div class="alert alert-lime fade show m-b-10"><span class="close" data-dismiss="alert">×</span>' + message + '</div>'
      $("#alert-install-server").append(alert);
    }else if (type == 2){
      var alert = '<div class="alert alert-danger fade show"><span class="close" data-dismiss="alert">×</span>'+ message + '</div>'
      $("#alert-install-server").append(alert);
    }
  }

  $(".teste").submit(function( event ) {

    var values = {};
    $.each($(this).serializeArray(), function(i, field) {
      values[field.name] = field.value;
    });

    var bt_install = $(this).children("button[name='bt-install']");

    if (bt_install.hasClass("disabled")){
      return false;
    }

    bt_install.empty();
    bt_install.append("<i class='fas fa-spinner fa-spin'></i> Instalando ...");

    $.ajax({
      type: 'POST',
      url: '/admin/simulation/install-server',
      data:  JSON.stringify (values),
      success: function(data) {
        console.log(  JSON.stringify (data) );
        if (data.status == 1){
          alertInstallServer(1, data.message);
          bt_install.empty();
          bt_install.append("Instalado");
          bt_install.addClass("disabled");
        }else{
          alertInstallServer(2, data.message);
          bt_install.empty();
          bt_install.append("Instalar");
        }
      },

      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alertInstallServer(2, "Não foi possível adicionar o servidor");
        bt_install.empty();
        bt_install.append("Instalar");
      },

      contentType: "application/json",
      dataType: 'json'

    });

    return false;

  });

  $("#form-add").submit(function( event ) {
    var instance = $(this).parsley();

    if (instance.isValid()){

      var values = {};
      $.each($(this).serializeArray(), function(i, field) {
        values[field.name] = field.value;
      });
      values['server_id'] = "";

      $.ajax({
        type: 'POST',
        url: '/admin/simulation/install-server',
        data:  JSON.stringify(values),
        success: function(data) {

          if (data.status == 1){
            window.location = data.link;

          }else if(data.status == 2){
            values['server_id'] = ""+data.server_id;
            swal({
              title: 'Atenção',
              text: 'O servidor ' + data.server_name + ' possuí as mesmas configurações. Deseja utilizar esse servidor na simulação de instalação, aproveitando as características das portas informada no cadastro do servidor '+values.name+'? ',
              icon: 'info',
              buttons: {
                cancel: {
                  text: 'Cancelar',
                  value: null,
                  visible: true,
                  className: 'btn btn-default',
                  closeModal: true,
                },
                confirm: {
                  text: 'Ok',
                  value: true,
                  visible: true,
                  className: 'btn btn-primary',
                  closeModal: true
                }
              }
            }).then(function(e){
              if (e){
                $.ajax({
                  type: 'POST',
                  url: '/admin/simulation/install-server',
                  data:  JSON.stringify(values),
                  success: function(data2) {
                    console.log(data2);
                    if (data2.status == 1){
                      window.location = data2.link;
                    }else{
                      alertaFalha("Não foi possível realizar a simulação da instalação do servidor!");
                    }
                  },
                  error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alertaFalha("Não foi possível realizar a simulação da instalação do servidor!");
                  },
                  contentType: "application/json",
                  dataType: 'json'
                });

              }
            });
          }else{
            alertaFalha("Não foi possível cadastrar o servidor!");
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alertaFalha("Não foi possível cadastrar o servidor!");
        },
        contentType: "application/json",
        dataType: 'json'
      });

    }
    return false;
  });

  // ------------------------------------------------------------------- \\

  if ($('#table-simulation').length !== 0) {
    $('#table-simulation').DataTable({
      responsive: true,
      "sDom": "tipr",
      "order": [[4, 'asc']],
      "columnDefs": [
        { "searchable": false, "visible":false, "targets": 0 },
        { "searchable": false, "targets": 1 },
        { "searchable": false, "targets": 3 },
        { "searchable": false, "targets": 4 },
        { "searchable": false, "targets": 5 },
        { "searchable": true, "visible":false, "targets": 6 }
      ]
    });
  }

  $("#building-search-table-simulation").change(function() {
    var search = $(this).val();
    var table = $('#table-simulation').DataTable();
    table.columns(6).search(search).draw();
  });

  $("#rack-search-table-simulation").keyup(function() {
    var search = $(this).val();
    var table = $('#table-simulation').DataTable();
    table.columns(2).search(search).draw();
  });

  $("#exibir-search-table-simulation").change(function() {
    var val = parseInt($(this).val());
    var table = $('#table-simulation').dataTable();
    var oSettings = table.fnSettings();
    oSettings._iDisplayLength = val;
    table.fnDraw();
  });


  // ------------------------------------------------------------------- \\

  if ($('#table-simulation-limiting').length !== 0) {
    $('#table-simulation-limiting').DataTable({
      responsive: true,
      "columnDefs": [
        { "searchable": false, "visible":false, "targets": 0 }
      ]
    });
  }

  if ($('#table-racks-not-participate-calculation').length !== 0) {
    $('#table-racks-not-participate-calculation').DataTable({
      responsive: true,
      "columnDefs": [
        { "searchable": false, "visible":false, "targets": 0 }
      ]
    });
  }

  $(".buildings").flexdatalist({
    selectionRequired: 1,
  });

  $("#ports_fiber").keyup(function(e) {

    var val = $("#ports_fiber").val();
    var reg = new RegExp('^[0-9]+$');

    $("#list_ports_fiber").remove();

    if (!reg.test(val) || val == "0"){
      return;
    }

    var qtd = parseInt(val);
    var fields = "<div class=\"form-group row m-b-15\" id=\"list_ports_fiber\">";

    for (var i = 0; i < qtd; i++) {

      fields += "<div class=\"col-md-12 col-sm-12\" style=\"display: inline-flex;\">";
      fields += "<label class=\"offset-md-3 offset-sm-3 col-md-2 col-sm-2 col-form-label\">Porta "+(i+1)+":</label>";
      fields += "<div class=\"col-md-7 col-sm-7\" style=\"display: inline-flex;\">";

      fields += ("<input type='text'" +
      "class='form-control'" +
      "data-min-length='1' placeholder='Velocidade'" +
      "list='list_velocity' autocomplete='off'" +
      "id=\"port_fiber_velocity_"+(i+1)+"\" name=\"port_fiber_velocity_"+(i+1)+"\"" +
      "data-value-property='value' />");

      fields += ("<input type='text'" +
      "class='form-control'" +
      "data-min-length='1' placeholder='Vlan'" +
      "list='list_vlan' autocomplete='off'" +
      "id=\"port_fiber_vlan_"+(i+1)+"\" name=\"port_fiber_vlan_"+(i+1)+"\"" +
      "data-value-property='value' />");

      fields += "</div>";
      fields += "</div>";

    }

    fields += "</div>";

    $("#ports_fiber").parent().parent().after(fields);

  });


  $("#ports_copper").keyup(function(e) {

    var val = $("#ports_copper").val();
    var reg = new RegExp('^[0-9]+$');

    $("#list_ports_copper").remove();

    if (!reg.test(val) || val == "0"){
      return;
    }

    var qtd = parseInt(val);
    var fields = "<div class=\"form-group row m-b-15\" id=\"list_ports_copper\">";

    for (var i = 0; i < qtd; i++) {

      fields += "<div class=\"col-md-12 col-sm-12\" style=\"display: inline-flex;\">";
      fields += "<label class=\"offset-md-3 offset-sm-3 col-md-2 col-sm-2 col-form-label\">Porta "+(i+1)+":</label>";
      fields += "<div class=\"col-md-7 col-sm-7\" style=\"display: inline-flex;\">";


      fields += ("<input type='text'" +
      "class='form-control'" +
      "data-min-length='1' placeholder='Velocidade'" +
      "list='list_velocity' autocomplete='off'" +
      "id=\"port_copper_velocity_"+(i+1)+"\" name=\"port_copper_velocity_"+(i+1)+"\"" +
      "data-value-property='value' />");

      fields += ("<input type='text'" +
      "class='form-control'" +
      "data-min-length='1' placeholder='Vlan'" +
      "list='list_vlan' autocomplete='off'" +
      "id=\"port_copper_vlan_"+(i+1)+"\" name=\"port_copper_vlan_"+(i+1)+"\"" +
      "data-value-property='value' />");

      fields += "</div>";
      fields += "</div>";

    }

    fields += "</div>";

    $("#ports_copper").parent().parent().after(fields);

  });

</script>

</body>
</html>
