<!DOCTYPE html>
<html lang="pt">
<head>

	<meta charset="utf-8" />
	<title>TSInovaApp - Racks</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/style-default.css" rel="stylesheet" />
	<link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="/static/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/static/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->


	<style>
	.card-header{
		background: #e8e6e6 !important;
		color: #5f5f5f !important;
	}
	.card-body{
		border: 1px solid #efe8e8 !important;
	}
	</style>

</head>

<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		{% include "/admin/header.html" %}
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image">
								<i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
							</div>
							<div class="info">
								<b class="caret pull-right"></b>
								{{user.name}}
								<small>TSInova App</small>
							</div>
						</a>
					</li>
					<li>
						<ul class="nav nav-profile">
							<li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Editar Perfil</a></li>
							<li><a href="javascript:;"><i class="fa fa-cog"></i> Configurações</a></li>
							<li><a href="/admin/logout"><i class="fas fa-lg fa-fw m-r-10 fa-power-off"></i> Sair</a></li>
						</ul>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">

					<li class="nav-header">Menu</li>

					<li>
						<a href="/admin/">
							<i class="fa fa-th-large"></i>
							<span>Início</span>
						</a>
					</li>

					<li class="active">
						<a href="/admin/racks">
							<i class="fas fa-lg fa-fw m-r-10 fa-table"></i>
							<span>Racks</span>
						</a>
					</li>

					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-play-circle"></i>
							<span>Simulação</span>
						</a>
						<ul class="sub-menu">
							<li><a href="/admin/simulation/install-server">Instalação de servidor</a></li>
							<li><a href="index_v2.html">Futura</a></li>
						</ul>
					</li>

					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fa fa-cogs"></i>
							<span>Configurações</span>
						</a>
						<ul class="sub-menu">
							<li><a href="/admin/general">Geral</a></li>
							<li><a href="/admin/users">Usuários</a></li>
							<li><a href="/admin/servers">Servidores</a></li>
						</ul>
					</li>
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->

		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
				<li class="breadcrumb-item active">Racks</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Racks <small>utilização de recursos</small></h1>
			<!-- end page-header -->

			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
					</div>
					<h4 class="panel-title">Racks - Utilização de recursos</h4>
				</div>
				<!-- end panel-heading -->

				<!-- begin panel-body -->
				<div class="panel-body">

					<div id="accordion" class="card-accordion">
						<!-- begin card -->
						<div class="card">
							<div class="card-header bg-black text-white pointer-cursor" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
								Racks
							</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordion" style="">
								<div class="card-body">

									<table id="table-racks" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th width="1%"></th>
												<th width="1%" data-orderable="false"></th>
												<th class="text-nowrap">Rack</th>
												<th class="text-nowrap">Us</th>
												<th class="text-nowrap">Switch</th>
												<th class="text-nowrap">Cobre</th>
												<th class="text-nowrap">Fibra</th>
												<th class="text-nowrap">Potência</th>
												<th class="text-nowrap">Tomada</th>
												<th class="text-nowrap">Índice</th>
											</tr>
										</thead>
										<tbody>

											{% for index,rack in enumerate(racks) %}
											<tr class="gradeA">
												<td width="1%" class="f-s-600 text-inverse center_horizontal">{{index+1}}</td>
												<td width="1%" class="with-img center_horizontal"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
												<td>
													{{rack.name}}<br/>
													<span style="font-size: 11px;"><b>Local Instalação:</b> {{rack.getLocalInstallation()}}</span>
												</td>

												<td class="center_horizontal">
													<div class="stats-content" style="width: 60px;">
														<div class="stats-progress progress" style="height: 5px;">
															<div class="progress-bar {{getClassRange(1, rack.us[4])}}" style="width: {{rack.us[4]}}%;"></div>
														</div>
														<div class="stats-desc" style="text-align: center;">{{rack.us[4]}}%</div>
													</div>
												</td>

												<td class="center_horizontal">
													<div class="stats-content" style="width: 60px;">
														<div class="stats-progress progress" style="height: 5px;">
															<div class="progress-bar {{getClassRange(7, rack.ports_switch[4])}}" style="width: {{rack.ports_switch[4]}}%;"></div>
														</div>
														<div class="stats-desc" style="text-align: center;">{{rack.ports_switch[4]}}%</div>
													</div>
												</td>

												<td class="center_horizontal">
													<div class="stats-content" style="width: 60px;">
														<div class="stats-progress progress" style="height: 5px;">
															<div class="progress-bar {{getClassRange(2, rack.ports_copper[4])}}" style="width: {{rack.ports_copper[4]}}%;"></div>
														</div>
														<div class="stats-desc" style="text-align: center;">{{rack.ports_copper[4]}}%</div>
													</div>
												</td>

												<td class="center_horizontal">
													<div class="stats-content" style="width: 60px;">
														<div class="stats-progress progress" style="height: 5px;">
															<div class="progress-bar {{getClassRange(3, rack.ports_fiber[4])}}" style="width: {{rack.ports_fiber[4]}}%;"></div>
														</div>
														<div class="stats-desc" style="text-align: center;">{{rack.ports_fiber[4]}}%</div>
													</div>
												</td>
												<td class="center_horizontal">
													<div class="stats-content" style="width: 60px;">
														<div class="stats-progress progress" style="height: 5px;">
															<div class="progress-bar {{getClassRange(4, rack.potency[4])}}" style="width: {{rack.potency[4]}}%;"></div>
														</div>
														<div class="stats-desc" style="text-align: center;">{{rack.potency[4]}}%</div>
													</div>
												</td>
												<td class="center_horizontal">
													<div class="stats-content" style="width: 60px;">
														<div class="stats-progress progress" style="height: 5px;">
															<div class="progress-bar {{getClassRange(5, rack.electrical[4])}}" style="width: {{rack.electrical[4]}}%;"></div>
														</div>
														<div class="stats-desc" style="text-align: center;">{{rack.electrical[4]}}%</div>
													</div>
												</td>
												<td class="center_horizontal"><span class="{{getClassRange(6, rack.getStandardDeviation())}}">{{rack.getStandardDeviation()}}</span></td>
											</tr>
											{% endfor %}

										</tbody>
									</table>


								</div>
							</div>
						</div>
						<!-- end card -->
						<!-- begin card -->
						<div class="card">
							<div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
								Racks que não participam dos cálculos
							</div>
							<div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
								<div class="card-body">

									<table id="table-racks-not-participate-calculation" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th width="1%"></th>
												<th width="1%" data-orderable="false"></th>
												<th class="text-nowrap">Rack</th>
											</tr>
										</thead>
										<tbody>

											{% for index,rack in enumerate(racks_not_participate_calculation) %}
											<tr class="gradeA">
												<td width="1%" class="f-s-600 text-inverse center_horizontal">{{index+1}}</td>
												<td width="1%" class="with-img center_horizontal"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
												<td>
													{{rack.name}}<br/>
													<span style="font-size: 11px;"><b>Local Instalação:</b> {{rack.getLocalInstallation()}}</span>
												</td>
											</tr>
											{% endfor %}

										</tbody>
									</table>

								</div>
							</div>
						</div>
						<!-- end card -->

					</div>

				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->

			<!-- end panel -->
		</div>
		<!-- end #content -->

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="/static/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="/static/assets/js/theme/default.min.js"></script>
	<script src="/static/assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/static/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
	<script src="/static/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<script src="/static/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
	$(document).ready(function() {
		App.init();

		if ($('#table-racks').length !== 0) {
			$('#table-racks').DataTable({
				responsive: true,
				"columnDefs": [
          { "searchable": false, "targets": 0 },
          { "searchable": false, "targets": 1 },
          { "searchable": false, "targets": 3 },
          { "searchable": false, "targets": 4 },
          { "searchable": false, "targets": 5 },
					{ "searchable": false, "targets": 6 },
					{ "searchable": false, "targets": 7 },
					{ "searchable": false, "targets": 8 },
					{ "searchable": false, "targets": 9 },
        ]
			});
		}

		if ($('#table-racks-not-participate-calculation').length !== 0) {
			$('#table-racks-not-participate-calculation').DataTable({
				responsive: true
			});
		}


	});
	</script>

</body>
</html>
