<div id="sidebar" class="sidebar">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <ul class="nav">
      <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
          <div class="cover with-shadow"></div>
          <div class="image">
            <i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
          </div>
          <div class="info">
            <b class="caret pull-right"></b>
            {{user.name}}
            <small>TSInova App</small>
          </div>
        </a>
      </li>
      <li>
        <ul class="nav nav-profile">
          <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Editar Perfil</a></li>
          <li><a href="javascript:;"><i class="fa fa-cog"></i> Configurações</a></li>
          <li><a href="/admin/logout"><i class="fas fa-lg fa-fw m-r-10 fa-power-off"></i> Sair</a></li>
        </ul>
      </li>
    </ul>
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">

      <li class="nav-header">Menu</li>

      <li id="nav-inicio">
        <a href="/admin/">
          <i class="fa fa-th-large"></i>
          <span>Início</span>
        </a>
      </li>

      <li id="nav-racks">
        <a href="/admin/racks">
          <i class="fas fa-lg fa-fw m-r-10 fa-table"></i>
          <span>Racks</span>
        </a>
      </li>

      <li class="has-sub" id="nav">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-lg fa-fw m-r-10 fa-play-circle"></i>
          <span>Simulação</span>
        </a>
        <ul class="sub-menu">
          <li><a href="/admin/simulation/install-server">Instalação de servidor</a></li>
          <li><a href="index_v2.html">Futura</a></li>
        </ul>
      </li>

      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fa fa-cogs"></i>
          <span>Configurações</span>
        </a>
        <ul class="sub-menu">
          <li><a href="/admin/general">Geral</a></li>
          <li><a href="/admin/users">Usuários</a></li>
          <li><a href="/admin/servers">Servidores</a></li>
        </ul>
      </li>
      <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
