<!DOCTYPE html>
<html lang="pt">
<head>

  <meta charset="utf-8" />
  <title>TSInovaApp - Simulação de instalação futura</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-default.css" rel="stylesheet" />
  <link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->

  <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
  <link href="/static/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
  <link href="/static/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
  <link href="/static/assets/plugins/flexdatalist/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
  <!-- ================== END PAGE LEVEL STYLE ================== -->

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/static/assets/plugins/pace/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->

  <style>

  .card-header{
    background: #e8e6e6 !important;
    color: #5f5f5f !important;
  }

  .card-body{
    border: 1px solid #efe8e8 !important;
  }

  .info_rack{
    color: #242a30;
    font-weight: 600;
    text-align: left;
  }

  .modal-lg {
    max-width: 98% !important;
  }

  .row_us_table{
    line-height: 0;
  }

  .column_us_table_busy{
    background: #f3f3f2 !important;
    border: 1px solid #dee2e6 !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }

  .column_us_table_new{
    background: #4784c1 !important;
    color: #fff;
    border: 1px solid #dee2e6 !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }

  .column_us_table_available{
    background: #fff !important;
    border: 1px solid #dee2e6 !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }

  .column_us_available{
    background: #fff !important;
    border: 1px solid #dee2e6 !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }

  td.column_id_us_table, .column_id_us_table{
    background: #fff !important;
    border: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
    border-right: none !important;
    width: 1px;
  }

  .row_1{
    background: #f3f3f2 !important;
  }

  .row_2 {
    background: #ffffff !important;
  }

  .column_table{
    border-top: none !important;
    border-bottom: none !important;
  }

  </style>

</head>

<body>
  <!-- begin #page-loader -->
  <div id="page-loader" class="fade show"><span class="spinner"></span></div>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    {% include "/admin/header.html" %}
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <a href="javascript:;" data-toggle="nav-profile">
              <div class="cover with-shadow"></div>
              <div class="image">
                <i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
              </div>
              <div class="info">
                <b class="caret pull-right"></b>
                {{user.name}}
                <small>TSInova App</small>
              </div>
            </a>
          </li>
          <li>
            <ul class="nav nav-profile">
              <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Editar Perfil</a></li>
              <li><a href="javascript:;"><i class="fa fa-cog"></i> Configurações</a></li>
              <li><a href="/admin/logout"><i class="fas fa-lg fa-fw m-r-10 fa-power-off"></i> Sair</a></li>
            </ul>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">

          <li class="nav-header">Menu</li>

          <li>
            <a href="/admin/">
              <i class="fa fa-th-large"></i>
              <span>Início</span>
            </a>
          </li>

          <li>
            <a href="/admin/racks">
              <i class="fas fa-lg fa-fw m-r-10 fa-table"></i>
              <span>Racks</span>
            </a>
          </li>

          <li class="has-sub active">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fas fa-lg fa-fw m-r-10 fa-play-circle"></i>
              <span>Simulação</span>
            </a>
            <ul class="sub-menu">
              <li><a href="/admin/simulation/install-server">Instalação de servidor</a></li>
              <li class="active"><a href="/admin/simulation/future">Futura</a></li>
            </ul>
          </li>

          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fa fa-cogs"></i>
              <span>Configurações</span>
            </a>
            <ul class="sub-menu">
              <li><a href="/admin/general">Geral</a></li>
              <li><a href="/admin/users">Usuários</a></li>
              <li><a href="/admin/servers">Servidores</a></li>
            </ul>
          </li>
          <!-- begin sidebar minify button -->
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
          <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
      <!-- begin breadcrumb -->
      <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
        <li class="breadcrumb-item active">Simulação futura</li>
      </ol>
      <!-- end breadcrumb -->
      <!-- begin page-header -->
      <h1 class="page-header">Simulação de instalação futura<small> simulação de instalação de servidor nos racks</small></h1>
      <!-- end page-header -->

      <!-- begin panel -->
      <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
          </div>
          <h4 class="panel-title">Simulação de instalação de servidor</h4>
        </div>
        <!-- end panel-heading -->

        <!-- begin panel-body -->
        <div class="panel-body" id="form-use-server">

          {% with errors = get_flashed_messages(category_filter=["message-info"]) %} {% if errors %}
          <div class="alert alert-info fade show col-md-12 col-sm-12">
            <span class="close" data-dismiss="alert">×</span>
            {%- for msg in errors %} {{ msg }} {% endfor %}
          </div>
          {% endif %} {% endwith %}

          {% with errors = get_flashed_messages(category_filter=["message-error"]) %} {% if errors %}
          <div class="alert alert-danger fade show col-md-12 col-sm-12">
            <span class="close" data-dismiss="alert">×</span>
            {%- for msg in errors %} {{ msg }} {% endfor %}
          </div>
          {% endif %} {% endwith %}

          {% with errors = get_flashed_messages(category_filter=["message-success"]) %} {% if errors %}
          <div class="alert alert-lime fade show m-b-10">
            <span class="close" data-dismiss="alert">×</span>
            {%- for msg in errors %} {{ msg }} {% endfor %}
          </div>
          {% endif %} {% endwith %}

          <form method="GET" id="form-simulation">
            <div class="row" style="margin-bottom: 10px;">

              <div class="col-md-6">
                <div class="col-md-12"><label>Servidores:</label></div>
                <div class="col-md-12">
                  <input type='text'
                  class='form-control flexdatalist servers_simulation'
                  data-min-length='1'
                  multiple='multiple'
                  value="{{servers_simulation_selected or ''}}"
                  list='list_servers_simulation'
                  data-value-property='value'
                  name='servers'/>
                </div>
              </div>

              <div class="col-md-6">
                <div class="col-md-12"><label>Prédios:</label></div>
                <div class="col-md-12">
                  <input type='text'
                  class='form-control flexdatalist buildings'
                  data-min-length='1'
                  multiple='multiple'
                  value="{{building_selected or ''}}"
                  list='list_buildings'
                  data-value-property='value'
                  name='buildings'/>
                </div>
                <div class="col-md-12" style="text-align: right;margin-top: 10px;">
                  <input type="submit" name="action" class="btn btn-success button-action-simulation" value="Simular"/>
                  <!--<a href="#modal-form-form-add" id="open-form-add" data-toggle="modal" class="btn btn-success">Novo servidor</a>-->
                </div>
              </div>


            </div>
          </form>

          {% if list_racks_available is defined and list_racks_not_participate_calculation is defined %}

          <div id="accordion" class="card-accordion">
            <!-- begin card -->
            <div class="card">
              <div class="card-header bg-black text-white pointer-cursor" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                Racks
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion" style="">
                <div class="card-body">

                  <div class="row">
                    <div class="col-md-5">
                      <div class="col-md-12"><label>Prédio:</label></div>
                      <div class="col-md-12">
                        <select class="form-control" id="building-search-table-simulation">
                          <option value="">Todos</option>
                          {% for building in buildings %}
                          <option value="{{building.name}}">{{building.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="col-md-12"><label>Rack:</label></div>
                      <div class="col-md-12">
                        <input type="text" placeholder="Pesquisar" id="rack-search-table-simulation" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="col-md-12"><label>Exibir:</label></div>
                      <div class="col-md-12">
                        <select class="form-control" id="exibir-search-table-simulation">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <table id="table-simulation" class="table table-striped table-bordered">

                    <thead>
                      <tr>
                        <th width="1%"></th>
                        <th width="1%" data-orderable="false"></th>
                        <th width="50%" class="text-nowrap">Rack</th>
                        <th class="text-nowrap" style="text-align: center;">Índice <br/>(antes da simulação)</th>
                        <th class="text-nowrap" style="text-align: center;">Índice <br/>(após a instalação)</th>
                        <th class="text-nowrap">Variação</th>
                        <th class="text-nowrap" style="text-align: center;">Total <br/>servidores</th>
                        <th class="text-nowrap">Mais informações</th>
                        <th class="text-nowrap">Prédio</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for index,obj in enumerate(list_racks_available) %}

                      <tr class="gradeA">
                        <td width="1%" class="f-s-600 text-inverse center_horizontal">{{index+1}}</td>

                        <td width="1%" class="with-img center_horizontal"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
                        <td>{{obj[1].name_rack}}<br/><span style="font-size: 11px;"><b>Local Instalação:</b> {{obj[1].local_installation}}</span></td>

                        {% if obj[1].getStandardDeviation() > 0 %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj[1].getStandardDeviation())}}">{{obj[1].getStandardDeviation()}}</span></td>
                        {% else %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj[1].getStandardDeviation())}}">0.000000</span></td>
                        {% endif %}

                        {% if obj[2].getStandardDeviation() > 0 %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj[2].getStandardDeviation())}}">{{obj[2].getStandardDeviation()}}</span></td>
                        {% else %}
                        <td class="center_horizontal"><span class="{{getClassRange(6, obj[2].getStandardDeviation())}}">0.000000</span></td>
                        {% endif %}

                        <td class="center_horizontal">
                          {% if obj[1].getStandardDeviation() > obj[2].getStandardDeviation() %}
                          {{obj[1].getStandardDeviation() - obj[2].getStandardDeviation()}}
                          {% else %}
                          {{obj[2].getStandardDeviation() - obj[1].getStandardDeviation()}}
                          {% endif %}
                        </td>

                        <td class="center_horizontal">{{obj[0]|sum}}</td>

                        <td class="center_horizontal">
                          <a href="#modal-details-rack{{obj[1].id_rack}}"
                          data-toggle="modal"
                          class="btn btn-xs btn-primary m-r-5">Mais informações</a>


                          <!-- #modal-dialog -->
                          <div class="modal fade" id="modal-details-rack{{obj[1].id_rack}}">

                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">

                                <div class="modal-header">
                                  <div style="text-align: left;line-height: 0.6;">
                                    <h4 class="modal-title">{{obj[1].name_rack}}</h4><br/>
                                    <span style="font-size: 11px; line-height: 1.5;"><b>Local Instalação:</b> {{obj[1].local_installation}}</span>
                                  </div>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>

                                <div class="modal-body">

                                  <div class="row">

                                    <div class="col-md-4">
                                      <div class="table-responsive">
                                        <table class="table table-striped m-b-0">
                                          <thead>
                                            <tr>
                                              <th></th>
                                              <th>Antes da simulação</th>
                                              <th>Após a simulação</th>
                                            </tr>
                                          </thead>
                                          <tbody>

                                            <!-- ......................... US .............................. -->
                                            <tr>
                                              <td class="info_rack column_table">Us</td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if obj[1].total_ru > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(1, obj[1].getUsUsagePorcentage())}}" style="width: {{obj[1].getUsUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[1].getUsUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if obj[2].total_ru > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(1, obj[2].getUsUsagePorcentage())}}" style="width: {{obj[2].getUsUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[2].getUsUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                            </tr>

                                            <!-- ......................... Switch .............................. -->
                                            <tr>
                                              <td class="info_rack column_table">Switch</td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if (obj[1].qtd_ports_switch_available + obj[1].qtd_ports_switch_used) > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(7, obj[1].getQtdPortsSwitchUsagePorcentage())}}" style="width: {{obj[1].getQtdPortsSwitchUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[1].getQtdPortsSwitchUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if (obj[2].qtd_ports_switch_available + obj[2].qtd_ports_switch_used) > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(7, obj[2].getQtdPortsSwitchUsagePorcentage())}}" style="width: {{obj[2].getQtdPortsSwitchUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[2].getQtdPortsSwitchUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                            </tr>

                                            <!-- ......................... Cobre .............................. -->
                                            <tr>
                                              <td class="info_rack column_table">Cobre</td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if (obj[1].qtd_ports_copper_available + obj[1].qtd_ports_copper_used) > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(2, obj[1].getQtdPortsCopperUsagePorcentage())}}" style="width: {{obj[1].getQtdPortsCopperUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[1].getQtdPortsCopperUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if (obj[2].qtd_ports_copper_available + obj[2].qtd_ports_copper_used) > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(2, obj[2].getQtdPortsCopperUsagePorcentage())}}" style="width: {{obj[2].getQtdPortsCopperUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[2].getQtdPortsCopperUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                            </tr>

                                            <!-- ......................... Fibra .............................. -->
                                            <tr>
                                              <td class="info_rack column_table">Fibra</td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if (obj[1].qtd_ports_fiber_available + obj[1].qtd_ports_fiber_used) > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(3, obj[1].getQtdPortsFiberUsagePorcentage())}}" style="width: {{obj[1].getQtdPortsFiberUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[1].getQtdPortsFiberUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if (obj[2].qtd_ports_fiber_available + obj[2].qtd_ports_fiber_used) > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(3, obj[2].getQtdPortsFiberUsagePorcentage())}}" style="width: {{obj[2].getQtdPortsFiberUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[2].getQtdPortsFiberUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                            </tr>

                                            <!-- ......................... Potência .............................. -->
                                            <tr>
                                              <td class="info_rack column_table">Potência</td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if obj[1].potency_watts_limit > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(4, obj[1].getPotencyUsagePorcentage())}}" style="width: {{obj[1].getPotencyUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[1].getPotencyUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if obj[2].potency_watts_limit > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(4, obj[2].getPotencyUsagePorcentage())}}" style="width: {{obj[2].getPotencyUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[2].getPotencyUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                            </tr>

                                            <!-- ......................... Tomada .............................. -->
                                            <tr>
                                              <td class="info_rack column_table">Tomada</td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if obj[1].electrical_sockets_limit > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(5, obj[1].getElectricalSocketsUsagePorcentage())}}" style="width: {{obj[1].getElectricalSocketsUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[1].getElectricalSocketsUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                              <td class="center_horizontal column_table">
                                                <div class="stats-content" style="width: 60px;display: inline-block;">
                                                  {% if obj[2].electrical_sockets_limit > 0 %}
                                                  <div class="stats-progress progress" style="height: 5px;">
                                                    <div class="progress-bar {{getClassRange(5, obj[2].getElectricalSocketsUsagePorcentage())}}" style="width: {{obj[2].getElectricalSocketsUsagePorcentage()}}%;"></div>
                                                  </div>
                                                  <div class="stats-desc" style="text-align: center;">{{obj[2].getElectricalSocketsUsagePorcentage()}}%</div>
                                                  {% else %}
                                                  N/C
                                                  {% endif %}
                                                </div>
                                              </td>
                                            </tr>

                                          </tbody>
                                        </table>
                                      </div>
                                    </div>

                                    <div class="col-md-2">
                                      <div class="table-responsive" style="overflow-y: scroll; height: 450px">
                                        <table class="table m-b-0">
                                          <thead>
                                            <tr style="border: 1px solid #fff">
                                              <th colspan="2">Antes da simulação</th>
                                            </tr>
                                          </thead>
                                          <tbody style="font-size: 11px;">
                                            {{obj[1].getEstruturaHtml()}}
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>

                                    <div class="col-md-2">

                                      <div class="table-responsive" style="overflow-y: scroll; height: 450px">
                                        <table class="table m-b-0">
                                          <thead>
                                            <tr style="border: 1px solid #fff">
                                              <th colspan="2">Após a simulação</th>
                                            </tr>
                                          </thead>
                                          <tbody style="font-size: 11px;">
                                            {{obj[2].getEstruturaHtml()}}
                                          </tbody>
                                        </table>
                                      </div>

                                    </div>

                                    <div class="col-md-4">

                                      <div class="table-responsive" style="overflow-y: scroll; height: 450px">

                                        <div>
                                          <table class="table m-b-0">
                                            <thead>
                                              <tr>
                                                <th>#</th>
                                                <th>Servidor</th>
                                                <th>Qtd</th>
                                                <th>Índice</th>
                                              </tr>
                                            </thead>
                                            <tbody>

                                              {% for i, result in enumerate(obj[3]) %}

                                              {% for j, probability in enumerate(result[0]) %}

                                              {% if i%2 == 0 %}
                                              <tr class="row_1">
                                                {% else %}
                                                <tr class="row_2">
                                                  {% endif %}

                                                  {% if j == 0 %}
                                                  <td class="info_rack column_table" style="text-align: center" rowspan="{{result[0]|length}}">{{i+1}}</td>
                                                  {% endif %}

                                                  <td class="info_rack column_table" >{{obj[4][j].name}}</td>
                                                  <td class="center_horizontal column_table">{{probability}}</td>

                                                  {% if j == 0 %}

                                                  {% if result[2].getStandardDeviation() > 0 %}
                                                  <td rowspan="{{result[0]|length}}" class="center_horizontal column_table"><span class="{{getClassRange(6, result[2].getStandardDeviation())}}">{{result[2].getStandardDeviation()}}</span></td>
                                                  {% else %}
                                                  <td rowspan="{{result[0]|length}}" class="center_horizontal column_table"><span class="{{getClassRange(6, result[2].getStandardDeviation())}}">0.000000</span></td>
                                                  {% endif %}

                                                  {% endif %}

                                                </tr>

                                                {% endfor %}

                                                {% endfor %}


                                              </tbody>
                                            </table>
                                          </div>

                                        </div>

                                      </div>

                                    </div>

                                  </div>


                                  <div class="modal-footer">
                                    <a href="javascript:;" class="btn btn-success" data-dismiss="modal">Fechar</a>
                                  </div>

                                </div>
                                <!-- end modal-content -->

                              </div>

                            </div>


                          </td>

                          <td>{{obj[1].name_building}}</td>

                        </tr>

                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- end card -->
              <!-- begin card -->
              <div class="card">
                <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                  Racks que não participam dos cálculos
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                  <div class="card-body">
                    <table id="table-racks-not-participate-calculation" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th width="1%"></th>
                          <th width="1%" data-orderable="false"></th>
                          <th class="text-nowrap">Rack</th>
                          <!--<th class="text-nowrap">Prédio</th>-->
                        </tr>
                      </thead>
                      <tbody>

                        {% for index,obj in enumerate(list_racks_not_participate_calculation) %}
                        <tr class="gradeA">
                          <td width="1%" class="f-s-600 text-inverse center_horizontal">{{index+1}}</td>
                          <td width="1%" class="with-img center_horizontal"><img src="/static/assets/img/rack.png" class="img-rounded height-30" /></td>
                          <td>
                            {{obj.name}}<br/>
                            <span style="font-size: 11px;"><b>Local Instalação:</b> {{obj.getLocalInstallation()}}</span>
                          </td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- end card -->
            </div>

            {% endif %}


          </div>
          <!-- end panel-body -->
        </div>
        <!-- end panel -->

        <!-- end panel -->
      </div>
      <!-- end #content -->

      <!-- begin scroll to top btn -->
      <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
      <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->

    <datalist id="list_velocity">
      {% for index,velocity in enumerate(list_velocity) %}
      <option value="{{velocity}}">{{velocity}}</option>
      {% endfor %}
    </datalist>

    <datalist id="list_vlan">
      {% for index,vlan in enumerate(list_vlan) %}
      <option value="{{vlan}}">{{vlan}}</option>
      {% endfor %}
    </datalist>

    <datalist id="list_buildings">
      {% for building in buildings %}
      <option value="{{building.name}}">{{building.name}}</option>
      {% endfor %}
    </datalist>

    <datalist id="list_servers_simulation">
      {% for index,server in enumerate(servers_simulation) %}
      <option value="{{server.id_server_simulation}}">{{server.name}}</option>
      {% endfor %}
    </datalist>



    <!-- #modal-dialog -->
    <a style="display:none" id="button-modal-form-ports-simulation" href="#modal-form-ports-simulation" data-toggle="modal" class="btn btn-success"></a>

    <div id="modal-simulation">

      <div class="modal fade" id="modal-form-ports-simulation">

        <div class="modal-dialog">
          <div class="modal-content">

            <form class="form-horizontal" onsubmit="wait(this)" method="POST" data-parsley-validate="true" id="form-ports-simulation">

              <input type="hidden" name="action" value="simulation">
              <input type="hidden" name="servers" value="">
              <input type="hidden" name="buildings" value="">

              <div class="modal-header">
                <h4 class="modal-title">Portas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>

              <div class="modal-body" id="ports_servers" style="overflow-y: scroll; height: 400px;">

                {% for index,server in enumerate(servers_simulation) %}

                <div id="ports_serverid_{{server.id_server_simulation}}" class="ports_server">

                  <div class="form-group row m-b-15">
                    <label class="col-md-12 col-sm-12 col-form-label" style="font-size: 16px;">{{server.name}}</label>
                  </div>

                  <div class="form-group row m-b-15">
                    <label class="col-md-3 col-sm-3 col-form-label">Portas Fibra * :</label>
                    <div class="col-md-9 col-sm-9">
                      <input class="form-control" type="text" name="ports_fiber_serverid_{{server.id_server_simulation}}" value="{{server.ports_fiber}}" readonly/>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    {% for index,port in enumerate(server.getPortsByType(1)) %}
                    <div class="col-md-12 col-sm-12" style="display: inline-flex;">
                      <label class="offset-md-3 offset-sm-3 col-md-2 col-sm-2 col-form-label">Porta {{index+1}}:</label>
                      <div class="col-md-7 col-sm-7" style="display: inline-flex;">
                        <input type="text" class="form-control" data-min-length="1" value="{{port.velocity or ''}}" placeholder="Velocidade" list="list_velocity" autocomplete="off" name="port_fiber_velocity_{{index+1}}_serverid_{{server.id_server_simulation}}" data-value-property="value">
                        <input type="text" class="form-control" data-min-length="1" value="{{port.vlan or ''}}" placeholder="Vlan" list="list_vlan" autocomplete="off" name="port_fiber_vlan_{{index+1}}_serverid_{{server.id_server_simulation}}" data-value-property="value">
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                  <div class="form-group row m-b-15">
                    <label class="col-md-3 col-sm-3 col-form-label">Portas cobre * :</label>
                    <div class="col-md-9 col-sm-9">
                      <input class="form-control" type="text" name="ports_copper_serverid_{{server.id_server_simulation}}" value="{{server.ports_copper}}" readonly />
                    </div>
                  </div>
                  <div class="form-group row m-b-15" style="border-bottom: 1px solid #dedbdb;padding-bottom: 20px;">
                    {% for index,port in enumerate(server.getPortsByType(2)) %}
                    <div class="col-md-12 col-sm-12" style="display: inline-flex;">
                      <label class="offset-md-3 offset-sm-3 col-md-2 col-sm-2 col-form-label">Porta {{index+1}}:</label>
                      <div class="col-md-7 col-sm-7" style="display: inline-flex;">
                        <input type="text" class="form-control" data-min-length="1" value="{{port.velocity or ''}}" placeholder="Velocidade" list="list_velocity" autocomplete="off" name="port_copper_velocity_{{index+1}}_serverid_{{server.id_server_simulation}}" data-value-property="value">
                        <input type="text" class="form-control" data-min-length="1" value="{{port.vlan or ''}}" placeholder="Vlan" list="list_vlan" autocomplete="off" name="port_copper_vlan_{{index+1}}_serverid_{{server.id_server_simulation}}" data-value-property="value">
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                </div>

                {% endfor %}

              </div>

              <div class="modal-footer">
                <div class="wait" style="text-align: center; display:none">
                  <i class="fas fa-spinner fa-spin" style="font-size: 20px;margin-right: 10px;"></i> Realizando a simulação, aguarde ...
                </div>
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal" id="cancel">Cancelar</a>
                <button href="javascript:;" class="btn btn-success">Simular</button>
              </div>

            </form>

          </div>
          <!-- end modal-content -->

        </div>

      </div>
    </div>


    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
    <script src="/static/assets/js/theme/default.min.js"></script>
    <script src="/static/assets/js/apps.min.js"></script>
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="/static/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="/static/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script src="/static/assets/plugins/flexdatalist/jquery.flexdatalist.min.js"></script>
    <script src="/static/assets/plugins/parsley/dist/parsley.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>

    App.init();

    function wait(form){
      var instance = $(form).parsley();
      if (instance.isValid()){
        $(".wait").css("display", "block");
      }
      return true;
    }

    if ($('#table-simulation').length !== 0) {
      $('#table-simulation').DataTable({
        responsive: true,
        "sDom": "tipr",
        "order": [[4, 'asc']],
        "columnDefs": [
          { "searchable": false, "visible":false, "targets": 0 },
          { "searchable": false, "targets": 1 },
          { "searchable": false, "targets": 3 },
          { "searchable": false, "targets": 4 },
          { "searchable": false, "targets": 5 },
          { "searchable": false, "targets": 6 },
          { "searchable": false, "targets": 7 },
          { "searchable": true, "visible":false, "targets": 8 }
        ]
      });
    }

    $("#building-search-table-simulation").change(function() {
      var search = $(this).val();
      var table = $('#table-simulation').DataTable();
      table.columns(8).search(search).draw();
    });

    $("#rack-search-table-simulation").keyup(function() {
      var search = $(this).val();
      var table = $('#table-simulation').DataTable();
      table.columns(2).search(search).draw();
    });

    $("#exibir-search-table-simulation").change(function() {
      var val = parseInt($(this).val());
      var table = $('#table-simulation').dataTable();
      var oSettings = table.fnSettings();
      oSettings._iDisplayLength = val;
      table.fnDraw();
    });


    if ($('#table-racks-not-participate-calculation').length !== 0) {
      $('#table-racks-not-participate-calculation').DataTable({
        responsive: true,
        "columnDefs": [
          { "searchable": false, "visible":false, "targets": 0 }
        ]
      });
    }

    $(".buildings").flexdatalist({
      selectionRequired: 1,
    });

    $(".servers_simulation").flexdatalist({
      selectionRequired: 1,
    });

    $('#modal-form-ports-simulation').on('hidden.bs.modal', function () {
      $("#ports_servers").empty();
      $("#ports_servers").append(ports_servers_html);
    })

    var ports_servers_html;

    $("#form-simulation").submit(function( event ) {

      var values = {};
      $.each($(this).serializeArray(), function(i, field) {
        values[field.name] = field.value;
      });

      if (values.servers.trim().length == 0){
        return false;
      }

      var ids_servers = values.servers.split(",")

      ports_servers_html = $("#ports_servers").html();

      for (var i = 0; i < ids_servers.length; i++) {
        var id = parseInt(ids_servers[i].trim());
        var ports_server = $("#ports_serverid_"+id);
        ports_server.removeClass("ports_server");
      }

      $(".ports_server").remove();

      $("#form-ports-simulation input[name='buildings']").val(values.buildings);
      $("#form-ports-simulation input[name='servers']").val(values.servers);

      $("#button-modal-form-ports-simulation").click();

      return false;
    });

  </script>

</body>
</html>
