<!DOCTYPE html>
<html lang="pt">
<head>

  <meta charset="utf-8" />
  <title>TSInovaApp - Usuários</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-default.css" rel="stylesheet" />
  <link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
  <link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->

  <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
  <link href="/static/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
  <link href="/static/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
  <!-- ================== END PAGE LEVEL STYLE ================== -->

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/static/assets/plugins/pace/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->

</head>

<body>
  <!-- begin #page-loader -->
  <div id="page-loader" class="fade show"><span class="spinner"></span></div>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    {% include "/admin/header.html" %}
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <a href="javascript:;" data-toggle="nav-profile">
              <div class="cover with-shadow"></div>
              <div class="image">
                <i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
              </div>
              <div class="info">
                <b class="caret pull-right"></b>
                {{user.name}}
                <small>TSInova App</small>
              </div>
            </a>
          </li>
          <li>
            <ul class="nav nav-profile">
              <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Editar Perfil</a></li>
              <li><a href="javascript:;"><i class="fa fa-cog"></i> Configurações</a></li>
              <li><a href="/admin/logout"><i class="fas fa-lg fa-fw m-r-10 fa-power-off"></i> Sair</a></li>
            </ul>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">

          <li class="nav-header">Menu</li>

          <li>
            <a href="/admin/">
              <i class="fa fa-th-large"></i>
              <span>Início</span>
            </a>
          </li>

          <li>
            <a href="/admin/racks">
              <i class="fas fa-lg fa-fw m-r-10 fa-table"></i>
              <span>Racks</span>
            </a>
          </li>

          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fas fa-lg fa-fw m-r-10 fa-play-circle"></i>
              <span>Simulação</span>
            </a>
            <ul class="sub-menu">
              <li><a href="/admin/simulation/install-server">Instalação de servidor</a></li>
              <li><a href="/admin/simulation/future">Futura</a></li>
            </ul>
          </li>

          <li class="has-sub active">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fa fa-cogs"></i>
              <span>Configurações</span>
            </a>
            <ul class="sub-menu">
              <li><a href="/admin/general">Geral</a></li>
              <li class="active"><a href="/admin/users">Usuários</a></li>
              <li><a href="/admin/servers">Servidores</a></li>
            </ul>
          </li>
          <!-- begin sidebar minify button -->
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
          <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
      <!-- begin breadcrumb -->
      <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="/admin">Início</a></li>
        <li class="breadcrumb-item active">Usuários</li>
      </ol>
      <!-- end breadcrumb -->
      <!-- begin page-header -->
      <h1 class="page-header">Usuários <small>lista de usuários</small></h1>
      <!-- end page-header -->

      <!-- begin panel -->
      <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
          </div>
          <div style="display: inline-flex;">
            <h4 class="panel-title">Usuários</h4>
            <a href="#modal-form-form-add" id="open-form-add" data-toggle="modal" class="btn btn-white btn-xs m-r-5 m-b-5" style="margin-left: 10px">Adicionar novo</a>

            <!-- #modal-dialog -->
            <div class="modal fade" id="modal-form-form-add">

              <div class="modal-dialog">
                <div class="modal-content">

                  <form id="form-add" class="form-horizontal" method="POST" data-parsley-validate="true">

                    <input type="hidden" name="action" value="add">

                    <div class="modal-header">
                      <h4 class="modal-title">Novo usuário</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-body">

                      <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label" for="name">Nome * :</label>
                        <div class="col-md-10 col-sm-10">
                          <input class="form-control" type="text" id="name" name="name" placeholder="Informe o nome" data-parsley-required="true" autofocus />
                        </div>
                      </div>
                      <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label" for="email">Email * :</label>
                        <div class="col-md-10 col-sm-10">
                          <input class="form-control" type="email" id="email" name="email" data-parsley-type="email" placeholder="Informe o Email" data-parsley-required="true" />
                        </div>
                      </div>
                      <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label" for="password">Senha * :</label>
                        <div class="col-md-10 col-sm-10">
                          <input class="form-control" type="password" id="password" name="password" data-parsley-type="password" placeholder="Informe a Senha" data-parsley-required="true" />
                        </div>
                      </div>
                      <div class="form-group row m-b-15">
                        <label class="col-md-2 col-sm-2 col-form-label">Servidores:</label>
                        <div class="col-md-10">
                          {% for index,obj in enumerate(servers) %}
                          <div class="checkbox checkbox-css">
                            <input type="checkbox" name="servers" value="{{obj.id_server}}" id="chk_server_{{obj.id_server}}">
                            <label for="chk_server_{{obj.id_server}}">{{obj.name}} - {{obj.url}}</label>
                          </div>
                          {% endfor %}
                        </div>
                      </div>


                    </div>

                    <div class="modal-footer">
                      <a href="javascript:;" class="btn btn-white" data-dismiss="modal" id="cancel">Cancelar</a>
                      <button href="javascript:;" class="btn btn-success">Cadastrar</button>
                    </div>

                  </form>

                </div>
                <!-- end modal-content -->

              </div>

            </div>

          </div>
        </div>
        <!-- end panel-heading -->

        <!-- begin panel-body -->
        <div class="panel-body">

          {% with errors = get_flashed_messages(category_filter=["message-error"]) %} {% if errors %}
          <div class="alert alert-danger fade show">
            <span class="close" data-dismiss="alert">×</span>
            {%- for msg in errors %} {{ msg }} {% endfor %}
          </div>
          {% endif %} {% endwith %}

          {% with errors = get_flashed_messages(category_filter=["message-success"]) %} {% if errors %}
          <div class="alert alert-lime fade show m-b-10">
            <span class="close" data-dismiss="alert">×</span>
            {%- for msg in errors %} {{ msg }} {% endfor %}
          </div>
          {% endif %} {% endwith %}

          <table id="data-table-responsive" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="1%"></th>
                <th width="1%" data-orderable="false"></th>
                <th class="text-nowrap">Nome</th>
                <th class="text-nowrap">Email</th>
                <th class="text-nowrap">Ação</th>
              </tr>
            </thead>
            <tbody>

              {% for index,obj in enumerate(users) %}
              <tr class="gradeA">
                <td width="1%" class="f-s-600 text-inverse">{{index+1}}</td>
                <td width="1%" class="with-img">
                  <i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
                </td>
                <td>{{obj.name}}</td>
                <td>{{obj.email}}</td>
                <td>
                  <a href="#modal-form-update"
                  data-toggle="modal"
                  data-id="{{obj.id_user}}"
                  data-name="{{obj.name}}"
                  data-email="{{obj.email}}"
                  data-servers="{{obj.getIdsServers()}}"
                  class="btn btn-xs btn-primary m-r-5 open-form-update">Editar
                </a>
                <a href="javascript:;" data-click="remove" data-id="{{obj.id_user}}" class="btn btn-xs btn-danger m-r-5">Excluir</a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->

    <!-- end panel -->
  </div>
  <!-- end #content -->

  <!-- begin scroll to top btn -->
  <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
  <!-- end scroll to top btn -->


  <!-- #modal-dialog -->
  <div class="modal fade" id="modal-form-update">

    <div class="modal-dialog">
      <div class="modal-content">

        <form id="form-update" class="form-horizontal" method="POST" data-parsley-validate="true" name="demo-form" >

          <input type="hidden" name="action" value="update">
          <input type="hidden" name="id" value="">

          <div class="modal-header">
            <h4 class="modal-title">Atualizar cadastro</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>

          <div class="modal-body">

            <div class="form-group row m-b-15">
              <label class="col-md-2 col-sm-2 col-form-label" for="update_name">Nome * :</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" id="update_name" name="update_name" placeholder="Informe o nome" data-parsley-required="true" autofocus />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-md-2 col-sm-2 col-form-label" for="update_email">Email * :</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="email" id="update_email" name="update_email" data-parsley-type="email" placeholder="Informe um Email" data-parsley-required="true" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-md-2 col-sm-2 col-form-label" for="update_password">Redenir senha:</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="password" id="update_password" name="update_password" data-parsley-type="password" placeholder="Redefinir senha" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-md-2 col-sm-2 col-form-label">Servidores:</label>
              <div class="col-md-10">
                {% for index,obj in enumerate(servers) %}
                <div class="checkbox checkbox-css">
                  <input type="checkbox" name="update_servers" value="{{obj.id_server}}" id="chk_server_{{obj.id_server}}_update">
                  <label for="chk_server_{{obj.id_server}}_update">{{obj.name}} - {{obj.url}}</label>
                </div>
                {% endfor %}
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <a href="javascript:;" class="btn btn-white" data-dismiss="modal" id="cancel">Cancelar</a>
            <button href="javascript:;" class="btn btn-success">Atualizar</button>
          </div>

        </form>

      </div>
      <!-- end modal-content -->

    </div>

  </div>



</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
<script src="/static/assets/js/theme/default.min.js"></script>
<script src="/static/assets/js/apps.min.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/static/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="/static/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="/static/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="/static/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script src="/static/assets/plugins/parsley/dist/parsley.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>

$(document).ready(function() {

  App.init();

  if ($('#data-table-responsive').length !== 0) {
    $('#data-table-responsive').DataTable({
      responsive: true,
      "columnDefs": [{ "searchable": false, "targets": 0, "visible": false }]
    });
  }


  $('[data-click="remove"]').click(function(e) {
    id = this.dataset.id;
    e.preventDefault();
    swal({
      title: 'Exclusão',
      text: 'Deseja realmente excluir este usuário?',
      icon: 'info',
      buttons: {
        cancel: {
          text: 'Cancelar',
          value: null,
          visible: true,
          className: 'btn btn-default',
          closeModal: true,
        },
        confirm: {
          text: 'Excluir',
          value: true,
          visible: true,
          className: 'btn btn-primary',
          closeModal: true
        }
      }
    }).then(function(e){
      if (e){
        $form = $("<form method='POST' action='' id='form-delete'></form>");
        $form.append("<input type='text' name='id' value='" + id + "'>");
        $form.append("<input type='text' name='action' value='delete'>");
        $("body").append($form);
        $("#form-delete").submit();
      }
    });

  });

  $("#open-form-add").click(function(){
    $('#form-add').parsley().reset();
    $("#modal-form-add input[name='name']").val("");
    $("#modal-form-add input[name='email']").val("");
    $("#modal-form-add input[name='password']").val("");
    $('[name=servers]').each(function () {
      $(this).prop('checked', false);
    });
  });

  $(".open-form-update").click(function(){
    $('#form-update').parsley().reset();
    $("#modal-form-update input[name='id']").val(this.dataset.id);
    $("#modal-form-update input[name='update_name']").val(this.dataset.name);
    $("#modal-form-update input[name='update_email']").val(this.dataset.email);
    $("#modal-form-update input[name='update_password']").val("");
    var ids_servers = this.dataset.servers.split(";");
    $('[name=update_servers]').each(function () {
      $(this).prop('checked', false);
      if (ids_servers.indexOf($(this).val()) != -1){
        $(this).prop('checked', true);
      }
    });
  });

});

</script>

</body>
</html>
